.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}
ul,li{list-style:none;}
a{text-decoration:none;}

.app_slide{
    position: relative;
    float: left;
    width: 372px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.app_slideInner{
    padding:10px;
    min-height: 28px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
.ul-sortable{
    padding-left: 0;
}
.choice {
    position: relative;
    border: 1px solid #e5e5e5;
    margin: 10px 10px 0 10px;
    padding: 14px;
    background: #fff;
    zoom: 1;
}
.choice-image {
    position: relative;
    float: left;
    width: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.choice_layer{
    position:absolute;
    bottom:0;
    width:120px;
    height:22px;
    line-height:22px;
    text-align:center;
    background-color:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
    color:#fff;
}
.add-image {
    display: block;
    width: 120px;
    height: 96px;
    line-height:96px;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.add-image .icon-add {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("/image/admin/icon-add.png");
    background-repeat: no-repeat;
    background-position: 0;
}
.choice-content {
    float: left;
    width: 176px;
}
.control-group {
    /*   margin-bottom: 10px;*/
}
.control-group1{
    text-align:right;
}
.control-label {
    float: left;
    width: 54px;
    text-align: right;
    padding-top: 5px;
    margin-bottom: 0;
}
.choice-content .controls {
    margin-left: 54px;
}
.choice-content .controls input{
    height:28px;
}
.choice_con{
    width:122px;
}
.choice_url{
    /*float:left;
    margin-left:12px;*/
    width:122px;
}
.sortable_btn{
    /* float:right;*/
    cursor: pointer;
    background-image: none;
    background-color:#fff;
    white-space: nowrap;
    text-align:center;
    width:102px;
}
.control-group input{
    padding: 4px 6px;
    margin-bottom:6px;
    font-size: 14px;
    line-height: 18px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #ccc;
}
.arrow,.arrow:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #d1d1d1 transparent transparent;
    position: absolute;
    left: -10px;
    top: 19px;
}
.arrow:after{
    content: "";
    border-right-color: #f8f8f8;
    left: 1px;
    top: -8px;
}

.clearfix{zoom:1}
.clearfix:after{content:".";width:0;height:0;visibility:hidden;clear:both;}
.content_row{width:300px;}
.content_row a{float:left;display:block;text-align:center;width:25%;text-decoration:none;color:#333;font-size:12px;}
.content_row a img{width:35%;margin: 5px 0;}
.content_row a p{margin: 0 0 5px;}
.choice_layer_new {
    position: absolute;
    bottom: 45px;
    padding-left:10px;
    width: 100%;
    height: 24px;
    line-height:24px;
    text-align: left;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: #fff;
}


#drag_area{
    width:320px;
    min-height:514px;
    background: #eee;
    /*border:1px solid #cacaca;*/
    font-family: "Microsoft Yahei";
}
.app-field .control-group {
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 30px;
}
.app-field .app-field {
    position: relative;
    cursor: move;
    /* -webkit-user-select: none; */
        }
        .app-field a{
            color: #07d;
            text-decoration: none;
        }
   
        /*ul,li{
    float:left;
}*/
.goods-card.small-pic .photo-block{
    height:106px;
}
.app-field .sc-goods-list .photo-block {
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #f8f8f8;
    background-size: 6px 6px;
}
.goods-card .photo-block img{
    height:100%;
    margin:1px;
}
.app-field .sc-goods-list.pic .goods-card.small-pic.card .info {
    min-height: 50px;
}
.app-field .sc-goods-list.pic .goods-card.small-pic .info {
    font-size: 13px;
}
.app-field .sc-goods-list.pic .goods-card .info {
    padding-left: 4px;
    margin-top: 10px;
}
.app-field .sc-goods-list .info {
    position: relative;
}
.app-field .sc-goods-list .info p.goods-title {
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}
.app-field .sc-goods-list .info p {
    margin: 0px;
}
.app-field .sc-goods-list.pic .goods-card.small-pic.card .info .goods-price {
/* margin-top: 5px; */
	width:50px;
}
.app-field .sc-goods-list.pic .goods-card .info .goods-price {
    float: left;
    margin: 0 10px 0px 0;
}
.item-picture .item-price .goods-price{
    float: left ;
    margin: 0 2px 0px 0;
	font-style: normal;
	color:#f66;
	width:25%;
}
.item-picture .item-price .goods-price>em
{
	font-style: normal;
}
.item-picture .item-price .market_price {
    float: right; 
    margin: 0 2px 0px 0;
	font-style: normal;
	color:#C0C0C0;
	text-decoration:line-through;
	min-height: 17px;
}

.app-field .sc-goods-list.pic .goods-card .info .market_price {
    float: right;
    margin: 0 8px 0px 0;
}
.app-field .sc-goods-list .info p.goods-price{
    padding: 0px;
}
.app-field .sc-goods-list .info p.market_price{
    padding: 0px;
	text-decoration:line-through;
}
.app-field .sc-goods-list .info p.goods-price>em {
    font-style: normal;
    color: #f66;
}
.app-field .sc-goods-list .info p.market_price>em {
    font-style: normal;
    color: #C0C0C0;
}
.app-field .app-field .actions{
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 320px;
    border: 2px dashed rgba(255,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
.app-field .app-field:hover .actions {
    display: inline-block;
}
.app-field .app-field .actions .actions-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
}
.app-field .app-field .actions span {
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 5px;
    margin-left: 1px;
    font-size: 12px;
}
.app-field .sc-goods-list {
    font-size: 12px;
    padding: 5px;
    list-style: none;
    margin: 0;
}
.app-field .sc-goods-list.pic .goods-card.small-pic.card {
    max-height: 230px;
    margin: 4px 0;
}
.app-field .sc-goods-list.pic .goods-card.small-pic {
    width: 50%;
    float: left;
}
.app-field .sc-goods-list.pic .goods-card {
    margin: 10px 0;
}
.app-field .sc-goods-list .goods-card {
    position: relative;
    margin: 0 5px;
}
.app-field .sc-goods-list.pic .goods-card.small-pic.card .link {
    border: 1px solid #e5e5e5;
    margin: 0 4px;
}
.app-field .sc-goods-list .link {
    display: block;
    background: #fff;
    min-height: 100px;
}


/*单列大图*/
.app-field .sc-goods-list.pic.size-2 .goods-card.big-pic.card {
    margin: 4px 0;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card {
    margin: 8px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.app-field .sc-goods-list.size-2 .goods-card.big-pic {
    float: left;
}
.app-field .sc-goods-list.pic .goods-card {
    margin: 10px 0;
}
.app-field .sc-goods-list .goods-card {
    position: relative;
    margin: 0 5px;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card .link {
    margin: 0px 4px;
    border: 1px solid #e5e5e5;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card .photo-block {
    min-height: 100px;
    margin: 4px;
}
.app-field .sc-goods-list.pic .goods-card.big-pic .photo-block img {
    position: relative;
    max-height: 500px;
}
.app-field .sc-goods-list.pic .photo-block img {
    max-height: 192px;
    width: 30%;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card .photo-block {
    min-height: 100px;
    margin: 4px;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card .info .goods-title {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 85%; */
}
.app-field .sc-goods-list.pic .goods-card .info .goods-title {
    margin-bottom: 5px;
}
.app-field .sc-goods-list.pic .goods-card.big-pic.card .info .goods-price .market_price{
    font-size: 15px;
    margin-top: 2px;
}

/*商品类_搜索*/
.app-field .custom-search {
    padding: 10px;
}
.app-field .custom-search form {
    margin: 0;
    position: relative;
    border: 1px solid #c0c0c0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.app-field .custom-search form .custom-search-input {
    margin: 0;
    padding: 0 10px 0 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px none;
    outline: none;
    font-size: 14px;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}
.app-field input[disabled] {
    cursor: default;
    background-color: #ffffff;
}
input[type="text"] {
    font-weight: 400;
}
.app-field .custom-search-button {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px none;
    height: 35px;
    line-height: 35px;
    width: 37px;
    padding: 0;
    color: #fff;
    font-size: 14px;
    text-indent: -9999px;
    background: #fff url("image/search.png") center center no-repeat;
    background-size: 16px 16px;
    border-radius: 5px 0 0 5px;
}

/*富文本*/
.app-field .custom-richtext {
    padding: 2px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    position: relative;
}
.app-field .custom-richtext p {
    margin: 0 0 1em 0;
}
.app-field .custom-richtext table {
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: auto !important;
}
.app-field .custom-richtext td, .app-field .custom-richtext th {
    padding: 5px 10px;
    border: 1px solid #ddd;
}
.tit_cent{
    padding:0px 10px
}
.blue_border{
    border-color: #5c81f4 !important;
}
#page_name{
    border: 1px solid #E5E5E5;
    height: 30px;
    padding-left: 12px;
    width:193px;
}