.main_container{
    padding: 10px;
}
.clearfix::after{
    content: ' ';
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
}
.brand_top,.brand_bottom{
    background-color: #fff;
    padding: 10px;
}
.switch_box{
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.switch_box li{
    cursor: pointer;
}
.switch_box li,.search_box li{
    float: left;
    margin-right: 37px;
}
.switch_box li:last-of-type,.search_box li:last-of-type{
    margin-right: 0;
}
.switch_box li.active{
    border-bottom: 2px solid #5a8bff;
}
.search_box li{
    line-height: 30px;
    margin-top: 10px;
}
.search_box li input[type="text"]{
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 30PX;
}
.search_box li select{
    line-height: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 130px;
}
.button_box{
    margin-top: 10px;
}
.btn_search,.btn_add{
    background-color: #5a8bff;
    line-height: 30px;
    width: 110px;
    text-align: center;
    color: #fff;
    border: 1px solid #5a8bff;
    border-radius: 4px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
.brand_bottom{
    margin-top: 10px;
}
.info_table table {
    border: 1px solid #eaeaec;
    font-size: 13px;
}
.info_table table thead tr {
    background: #f5f5f5;
}
.info_table table thead th {
    color: #333;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0;
}
.info_table table tbody td {
    border: 1px solid #eaeaec;
    text-align: center;
    color: #666;
    padding: 10px 5px;
}
.info_table table tbody td a{
    color: #5a8bff;
}
/* .info_table table tbody td a:first-of-type{
    margin-right: 20px;
} */
.switch_box li a{
    color: #000;
}
a:link{color: #5a8bff;}
a:visited{color: #5a8bff;}
a:hover{color: #5a8bff;}
a:active{color: #5a8bff;}
.brand_logo img{
    width: 60px;
    height: 60px;
}
.show_config_box{
    margin-top:30px;
    min-height: 300px;
}
.show_config_box > div+div{
    margin-top: 25px;
}
label.switch {
display: inline-block;
background-color: #ddd;
height: 20px;
width: 40px;
cursor: pointer;
border-radius: 25px;
margin-bottom: 0;
vertical-align: middle;
transition: all .5s ease;
-webkit-transition: all .5s ease;
}
  
label.switch::before {
content: '';
position: relative;
display: block;
left: 0;
border-radius: 25px;
height: 100%;
width: 20px;
background-color: white;
opacity: 1;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
transition: all .5s ease;
-webkit-transition: all .5s ease;
}
input.switch {
display: none;
}
/* 选中后，未选中样式消失 */
input.switch:checked~label:before {
left: 21px;
transition: all .5s ease;
-webkit-transition: all .5s ease;
}

/*选中后label的背景色改变*/
input.switch:checked~label {
background-color: #f7931e;
transition: all .5s ease;
-webkit-transition: all .5s ease;
}
input[type="text"]{
padding-left: 5px;
}

.tips{
    color: #999;
}
.recommend_config{
    padding-left: 70px;
}
.recommend_config > div input[type="text"]{
    border: 1px solid #ccc;
    width: 140px;
    height: 30px;
}
.recommend_config > div{
    margin-top: 20px;
    line-height: 30px;
}
.recommend_config > div > span:first-of-type{
    float: left;
    width: 80px;
}
.recommend_config > div > div:first-of-type{
    margin-left: 80px;
}
.show_config_box input,.show_config_box label{
    margin-right: 10px;
}
.bottom.hover_show{
    top: unset;
    bottom: -180px;
}
.bottom.hover_show::before{
    top: unset;
    bottom: 188px
}
.add_class p{
    line-height: 30px;
    margin-top: 10px;
}
.add_class p input[type="text"]{
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 30PX;
}
.jump_page table tbody td{
    border: none;
}
.no_data_style{
    margin-top: 15px;
}

.add_brand_config{
    padding-left: 30px;
}
.brand_title span.must{
    color: red;
}
.add_brand_config li{
    line-height: 30px;
}
.add_brand_config li+li{
    margin-top: 30px;
}
.add_brand_config li .brand_title{
    float: left;
    width: 115px;
    text-align: right;
}
.add_brand_config li .config_box{
    margin-left: 125px;
}
.add_brand_config li .config_box input[type="text"],.add_brand_config li .config_box select{
    line-height: 30px;
    height: 30px;
}
.choose_goods{
    margin-left: 0px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #5A8BFF;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    display: inline-block;
}
.choose_goods img{
    margin: -3px 5px 0 0;
}
.refresh-card{
    margin-left: 15px;
}
.pages_bottom {
    border-top: 1px solid #f2f2f2;
    background: #f8f8fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 87.5%;
    margin-left: 0.7%;
}
.pages_bottom a {
    background-color: #5a8bff;
    border-color: #5a8bff;
    width: 70px;
    height: 30px;
    color: #fff;
    display: inline-block;
    line-height: 30px;
}
.add_image {
    width: 70px;
    height: 70px;
    background: url(/image/admin/btn_add.png) no-repeat;
    box-shadow: 0 0 0 #fff;
    /* background-position: center 48%;
    background-size: 50%; */
    padding-top: 40px;
    padding-left: 8px;
    color: #9a9a9a;
    border: none;
    margin-right: 10px;
    float: left;
}
[type="button"]:hover, [type="button"]:active, [type="button"]:focus, [type="reset"]:hover, [type="reset"]:active, [type="reset"]:focus{
    background-color: transparent;
    border-color: #e5e5e5;
}
.logo_img {
    float: left;
    display: none;
    border: 1px solid #eee;
    position: relative;
}
.logo_img img{
    width: 70px;
    height: 70px;
}
.logo_img span{
    text-align: center;
    width: 100%;
    line-height: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 12px;
    display: none;
    cursor: pointer;
}
.main_container input[type="text"]{
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 30PX;
}
#brand_classify_id{
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 140px;
}
.jump_page input[type="text"]{
    width: 70px;
}