.hover_tr {
    background: yellow;
}

a {
    text-decoration: none;
    color: blue
}

.tpl_title {
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
    border-style: none none none solid;
    padding-left: 10px;
    border-width: 5px;
    border-color: #ff7200;
}

.default_tpl {
    position: relative;
    line-height: 24px;
    width: 180px;
    height: 240px;
    margin: 2px 10px 2px 10px;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page_list ul, .default_page ul {
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.page_list li, .default_page li {
    position: relative;
    float: left;
    line-height: 24px;
    width: 180px;
/ / height : 240 px;
    margin: 2px 10px 2px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop_template {
    position: relative;
    width: 180px;
    overflow: visible;
}

.shop_template .tpl_img {
    max-width: 100%;
    border: 1px solid #e4e4e4;
}

.img_mask {
    display: block;
    position: absolute;
    bottom: 0;
    height: 45px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.4) !important;
    width: 100%;
    color: white;
    z-index: 2;
    cursor: default;
    text-align: center;
    margin: 0 1px 0 1px;
    /* -ms-user-select: none;
    -webkit-user-select: none; */
}

.img_mask span {
    cursor: pointer;
    color: white;
}

.add_page_mask {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.4) !important;
    width: 100%;
    color: white;
    z-index: 2;
    cursor: default;
    text-align: center;
    margin: 0 1px 0 1px;
    /* -ms-user-select: none;
    -webkit-user-select: none; */
    cursor: pointer;
}

.shop_template:hover .del_img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 19px;
    z-index: 2;
    cursor: pointer;
}

.del_img, .template_btns, .first_page {
    display: none;
}

.img_mask:hover .template_name {
    display: none;
}

.img_mask:hover .template_btns {
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 1px 0 1px;
}

.tpl_use, .tpl_edit, .tpl_cancel {
    padding: 0 20px;
    margin: 1px 5px;
}

.one_btn .tpl_edit {
    margin-top: 10px;
}

.first_page {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.2) !important;
    color: white;
    z-index: 1;
    cursor: default;
    text-align: center;
    margin: 1px;
    /* -ms-user-select: none;
    -webkit-user-select: none; */
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei";
    font-size: 18px;
    font-weight: bold;
}