body{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.path_jump a{
    background-color: #5a8bff;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
.path_jumps a{
    background-color: #5a8bff;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
.path_jumps span{
    display: inline-block;
}
.path_jumps input{
    width: 300px;
}
table{
    font-size: 14px;
}
.goods_info .goods_name span {
    border: 1px red solid;
    padding: 0px 6px;
    color: red;
    border-radius: 5px;
}
.goods_info .goods_name {
    text-align: left;
    padding-left: 50px;
}
.nav-role{
    float: left;
    width: 110px;
    border-right: 1px solid #eee;
}
.nav_link{
    float: left;
    width: 655px;
    height: 343px;
    overflow-y: scroll;
    padding: 8px;
}
.nav-role li{
    line-height: 35px;
    text-align: center;
}
.nav-role li:last-of-type{
    border-bottom: 1px solid #eee;
}
.nav-role li a{
    color: #333;
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
.nav-role .active a{
    color: #5A8BFF;
    border-bottom: 2px solid #5A8BFF;
}
.miniprogram_select{
    width: 155px;
    border: 1px solid #eee;
    height: 30px;
    padding-left: 12px;
}
.activity{
    width: 100%;
    margin-bottom: 10px;
}
.activity_title{
    padding: 10px 0;
}
.activity_list{
    display: flex;
    list-style: none;
    border:1px solid #f5f5f5;
    border-bottom: none;
    background-color: #f5f5f5;
}
.activity_list li{
    float: left;
    list-style: none;
    text-align: center;
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border-bottom:2px solid transparent;
    cursor: pointer;
}
/* .activity_list li+li{
    margin-left: 1px;
} */
.activity_list li:hover{
    color:#5a8bff;
    background-color: #e4ecff;
}
.activity_list li.active{
    background-color: #fff;
    color: #5a8bff;
    border-bottom: 2px solid #5a8bff
}
.common-user-link {
    margin-bottom: 5px;
}
.common-user-link input {
    width: 140px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 12px;
    border-radius: 3px;
}