body .main{
    font-size: 14px;
}
.main-right-title>div{
    color: #5A8BFF;
    text-align: left;
}
.content-account div{
    border: 1px solid #ccc;
    padding: 5px 18px;
}
.content-account div span{
    color: #333;
    display: inline-block;
    line-height: 30px;
    width: 85px;
}
.content-account div input{
    border: none;
    width: 50%;
    height: 30px;
    padding-left: 10px;
}
.content-account div button{
    color: #5A8BFF;
    border: none;
    background: #fff;
    float: right;
    height: 30px;
}
.content-account .account-login{
    border: none;
    padding: 0;
}