.main_container{
    padding: 10px;
}
.market_container{
    background-color: #fff;
    padding: 10px 10px 20px 10px;
}
/*nav通用行*/
.market_nav{
    width: 95%;
    height: auto;
}
.market_nav_new{
    margin-top: 30px;
}
/*nav头部*/
.market_nav_title{
    width: 100%;
    height: 20px;
}
.title_one{
    font-size: 16px;
    color: #333;
}
.title_two{
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}
/*nav内容*/
.market_nav_content{
    width: 100%;
    height: auto;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3px;
}
/* 大小 背景色*/
.market_yx{
    width:31%;
    height: 60px;
    background-color: #f2f6ff;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    cursor: pointer;
    border: 1px solid #d9e4ff;
}
.market_hd{
    background-color: #fffcf6;
    border:1px solid #ffe8c1;
}
.market_xf{
    background-color: #f3fff9;
    border:1px solid #d6ffec;
}
.market_gj{
    background-color: #fff6f6;
    border:1px solid #ffe2e2;
}

/*图片*/
.market_img{
    width: 25%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.market_text{
    width: 75%;
    height: 60px;
    position: relative;
}
.market_text>p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    padding-bottom: 3px;
}
.market_text>span{
    font-size: 12px;
    color: #999;
}
.jjsx{
    position: absolute;
    top: 0px;
    right: 0px;
}


