*{
    margin: 0px;
    padding: 0;
}
div,span,p,a,ul,li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.part{
    padding: 20px 0px;
    text-align: center;
}
.part1{
    padding-bottom: 0;
}
.part h1{
    font-size: 15px;
    font-weight: normal;
}
.part_content img{
    width: 100%;
}
.part3{
    background: url("/image/admin/official/part3_back.png");
}
.part3 h1{
    color: #fff;
    margin-bottom: 7px;
}
#swiper1 img{
    width: 100%;
}
.part3_swiper{
    color: #fff;
    text-align: center;
}
#swiper2{
    padding-bottom: 30px;
}
#swiper2 img{
    width: 100%;
}
#swiper2 .swiper-slide div h3{
    margin-bottom: 10px;
    font-size: 15px;
}
#swiper2 .swiper-slide div{
    font-size: 13px;
}
#swiper2 .swiper-slide div{
    height: 53px;
}
.swiper-pagination-bullet{
    width: 15px;
    height: 4px;
    border-radius: 0;
    background: rgba(255,255,255,0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 2px;
}
.part4{
    padding-bottom: 0;
    background: #f7f7f7;
}
.part6{
    background: #27282c;
    color: #fff;
}
.part6_top{
    border-bottom: 1px solid #54565b;
    padding: 0 0 20px 20px;
}
.part6_top p{
    padding-top: 20px;
    font-size: 13px;
}
.part6_bot{
    padding: 25px 20px;
    text-align: center;
    font-size: 13px;
}
.part6_bot p{
    margin-top: 18px;
    color: #54565b;
}
#swiper3{
    padding-left: 5%;
    margin-top: 15px;
}
#swiper3 .swiper-slide{
    width: 80%;
    padding: 8px 8px 12px;
    border:  1px solid #e6e2e7;
    text-align: left;
    -webkit-box-shadow: 0px 0px 8px #ccc;
    -moz-box-shadow: 0px 0px 8px #ccc;
    box-shadow: 0px 0px 8px #ccc;
}
#swiper3 .swiper-slide img{
    width: 100%;
}
#swiper3 .swiper-slide div{
    font-size: 14px;
    color: #000;
    margin: 12px 0;
}
#swiper3 .swiper-slide p{
    color: #666;
    font-size: 12px;
    min-height: 48px;
}

/*申请试用*/
.message_content{
    background: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.func{
    margin-top: 40px;
    text-align: center;
}
.func img{
    width: 50%;
}
.func_content{
    background: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
    padding:10px 0px 30px 0px;
    margin-bottom: 10px;
}
.single-func{
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.func_img{
    text-align: center;
}
.single-func div img{
    width: 50%;
}
.single-func p{
    font-size: 0.3rem;
    color: #333;
    text-align: center;
    margin-top: 5px;
}
.single-func h4{
    color: #666;
    font-size: 0.25rem;
    text-align: center;
    margin-top: 5px;
}

.customer{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    z-index: 3;
}
.customer_img{
    text-align: center;
}
.customer_img img{
    width: 50%;
}
.customer p{
    font-size: 0.3rem;
    color: #333;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}
.customer h4{
    color: #666;
    font-size: 0.25rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.apply_footer{
    background: url("/image/admin/new_apply_mobile/oval.png") no-repeat;
    width: 100%;
    background-size: 100% 100%;
    height: 4.5rem;
    margin-top: -80px;
    position: relative;
}
.footer_content{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.fp1{
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.fp2{
    color: #fff;
    font-size: 0.25rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}


.apply_success{
    width: 90%;
    background: #fff;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    display: none;
}
.apply_success p{
    color: #5A8BFF;
    font-size: 0.3rem;
    text-align: center;
    margin-top: 15px;
}
.succ{
    text-align: center;
}
.succ img{
    width: 35%;
}


@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){

    .single-func{
        width: 50%;
    }

    .footer_content{
        position: absolute;
        bottom: 5px;
        width: 100%;
    }

}
