.content{
    background: #fff;
    padding-bottom: 60px;
}
.head{
    padding: 0 20px;
}
.head ul{
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.head ul li{
    float: left;
    padding: 0 12px;
}
.head ul li a{
    display: block;
}
.head ul .actives a{
    border-bottom: 2px solid #5a8bff;
}
.price_increase{
    padding: 20px 5px 20px 20px;
    min-height: 400px;
}
.increase_title{
    display: flex;
}
.increase_title>div{
    flex: 1;
    padding-right: 15px;
    color: #666;
    font-size: 16px;
    height: 54px;
    line-height: 50px;
    text-align: center;
    background: url(/image/admin/set3.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.increase_title  .set_change_goods{
    background: url(/image/admin/set31.png) no-repeat;
}
.increase_title .set_rule{
    color: #fff;
    background: url(/image/admin/set11.png) no-repeat;
}
.increase_title .blue_back{
    color: #fff;
    background: url(/image/admin/set22.png) no-repeat;
}
.increase_title .blue_back1{
    color: #fff;
    background: url(/image/admin/set33.png) no-repeat;
}
/*活动规则*/
.con_set_rule li{
    margin-top: 20px;
}
.con_set_rule li.rule_list{
    margin-top: 10px;
}
.fl{
    float: left;
    width: 100px;
    text-align: right;
    position: relative;
    line-height: 30px;
    margin-right: 8px;
}
.fl em{
    color: red;
}
.fr_l{
    float: left;
    margin-left: 8px;
    line-height: 30px;
}
.fr_l input{
    width: 180px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
    margin-right: 5px
}
.fr_l span{
    color: #999;
}
.fr_l input[name="start_time"],.fr_l input[name="end_time"]{
    width: 160px;
}
.con_set_rule .ipt_small{
    width: 70px;
}
.add_rule{
    display: inline-block;
    margin-left: 15px;
    border: 1px solid #5a8bff;
    color: #5a8bff;
    padding: 0 8px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.add_rule:hover{
    background: #5a8bff;
    color: #fff;
}
.del_rule{
    color: #5a8bff;
    display: inline-block;
    margin-left: 10px;
}
.rule_list{
    padding-left: 108px;
}
.rule_list .fl{
    width: 95px;
    margin: 0;
    line-height: 34px;
}
input[type='text']:focus {
    border: 1px solid #5a8bff;
    box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -webkit-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -moz-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
}
.footer{
    background: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a{
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #5a8bff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.footer a:hover,.add_main_goods:hover,.add_change_goods:hover{
    background: #447af9;
}
.footer .set2,.footer .set3{
    display: none;
}
/*设置商品*/
.main_goods_table{
    padding-right: 15px;
}
.add_main_goods,.add_change_goods{
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #5a8bff;
    color: #fff;
    margin: 15px 0;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tb_goods{
    width: 100%;
    border: 1px solid #eee;
    text-align: center;
}
.main_tr_first,.change_tr_first{
    background: #f5f5f5;
}
.tb_goods tbody td{
    border: 1px solid #eee;
}
.tb_goods tbody a{
    color: #5a8bff;
}
.goods_img{
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.goods_img img{
    width: 100%;
}
.goods_info{
    padding-left: 55px;
    text-align: left;
}
.goods_info>div{
    width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goods_spec{
    font-size: 12px;
    color: #999;
}
/*换购*/
.con_set_change{
    padding-right: 15px;
    margin-top: 15px;
}
.con_set_change>div{
    border: 1px solid #ddd;
}
.change_head{
    background: #f5f5f5;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.change_head li{
    float: left;
    width: 150px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid #f5f5f5;
    cursor: pointer;
    display: none;
}
.change_head .change_active{
    background: #fff;
    border-bottom: 2px solid #ffaf62;
    display: block;
}
.change_content{
    padding: 16px 25px 25px;
}
.prompt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #F2E1C8;
    background: #FFF7EC;
    color: #666;
    padding-left: 12px;
    font-size: 12px;
}
.prompt img{
    margin: -3px 8px 0 0;
}
