*{
    margin: 0;
    padding: 0;
}
.list_container{
    padding: 0 10px;
}
.list_container ul{
    margin: 0;
    padding: 0;
}
ul li{
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    list-style: none;
    font-size: 12px;
}
input[type="radio"]:focus{
    border: none;
    outline: none;
}
input[type="radio"]{
    position: relative;
    top: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: url("/image/admin/check_no.png") no-repeat;
    margin-right: 5px;
}
input[type="radio"]:checked{
    background: url("/image/admin/check_yes.png") no-repeat;
}