.info{
    background: #fff;
    margin-bottom: 10px;
}
.info_title{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #e6e9f0;
}
.info_edit{
    color: #5A8BFF;
    font-size: 12px;
    margin-left: 12px;
    cursor: pointer;
}
.info_content{
    padding: 0 20px;
}
.basic_main{
    padding: 20px 30px;
}
.user_head{
    width: 60px;
    height: 60px;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 25px;
}
.user_head img{
    width: 100%;
    height: 100%;
}
.user_basic{
    float: left;
    min-width: 990px;
}
.user_basic li .user_nickname{
    font-size: 15px;
    color: #333;
    line-height: 30px;
}
.user_basic li div{
    font-size: 12px;
    color: #777;
    float: left;
    width: 300px;
    line-height: 25px;
}
.info_hide{
    margin-top: 30px;
    display: none;
}
.info_hide li div{
    width: 195px;
}
.info_hide .user_address div{
    width: auto;
}
.user_address ul{
    float: left;
    margin-left: 20px;
}
.user_address ul li{
    list-style-type: disc;
    color: #777;
}
.look_more_info{
    border-top: 1px solid #eee;
    color: #5A8BFF;
    line-height: 40px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.label_info_content{
    padding: 20px;
}
.label_info_content span{
    display: inline-block;
    min-width: 60px;
    padding: 0 3px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    color: #444;
    margin-right: 15px;
}
.money_info_content{
    padding: 30px 20px;
}
.money_info_content ul li{
    float: left;
    margin-right: 20px;
    width: 172px;
    height: 100px;
    border: 1px solid #eee;
    -webkit-box-shadow:  0px 0px 10px #f3f3f3;
    -moz-box-shadow:  0px 0px 10px #f3f3f3;
    box-shadow:  0px 0px 10px #f3f3f3;
    padding: 30px 0px 0 12px;
}
.money_info_content ul li:last-child{
    margin: 0;
}
.asset_icon{
    float: left;
}
.asset_type{
    float: left;
    margin-left: 10px;
    color: #111;
}
.asset_type div{
    margin-top: 8px;
}
.asset_type_set{
    color: #5A8BFF;
    font-size: 13px;
    cursor: pointer;
}
.shu{
    color: #999;
    position: relative;
    top: -2px;
}
.count_info_content{
    padding: 40px 0;
    width: 100%;
    display: flex;
}
.count_info_content>div{
    flex: 1;
    border-left: 1px solid #eee;
    text-align: center;
}
.count_info_content>div:first-child{
    border: none;
}
.count_info_content>div div{
    margin-top: 25px;
    font-size: 22px;
    color: #5A8BFF;
}
.exchange-num{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    display: none;
}
.exchange-num div{
    line-height: 30px;
}
.exchange-num input{
    width: 100px;
    height: 30px;
    padding-left: 12px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.exchange-num .exchange_old input{
    border: 0;
}
.exchange-num .exchange_old{
    margin-bottom: 10px;
}
.exchange-num div:last-child span:last-child{
    color: #f66;
}
#set-label{
    display: none;
    padding: 10px 30px 0;
    position: relative;
}
#set-label>div{
    padding: 5px 10px 0;
    border: 1px solid #ccc;
    min-height: 30px;
}
#set-label>div>span{
    display: inline-block;
    padding: 3px 12px;
    color: #666;
    border: 1px solid #eee;
    background: #f4f4f4;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    position: relative;
}
#set-label>div>span>img{
    position: absolute;
    right: -9px;
    top: -6px;
    cursor: pointer;
}
#set-label ul{
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    position: absolute;
    display: none;
    max-height:228px;
    overflow-y: scroll;
}
#set-label ul li{
    border-top: 1px solid #eee;
    width: 150px;
    padding: 10px 0 10px 10px;
    font-size: 13px;
    color: #888;
    cursor: pointer;
}
#set-label ul li:first-child{
    border: none;
    cursor: inherit;
}
#set-label ul li:hover{
    background: #5A8BFF;
    color: #fff;
}
#set-label ul li.li_select{
    background: #fff;
    color: #5A8BFF;
    cursor: default;
}
#set-label ul li:first-child:hover{
    background: #fff;
    color: #888;
}

#set-label ul li:first-child input{
    border: none;
    width: 100%;
    background: url("/image/admin/search.png") no-repeat left center;
    padding-left: 20px;
    -webkit-background-size: 13px;
    background-size: 13px;
}
body .layui-layer-page .layui-layer-content{
    overflow: inherit;
}
#set-card{
    display: none;
    padding: 10px 10px 0;
    width: 420px;
    margin:0 auto;
    color: #333;
    font-size: 14px;
}
#set-card p{
    color: #999999;
    font-size: 12px;
    margin-bottom: 10px;
}
#set-card .fl{
    width:90px;
    text-align: right;
    line-height: 30px;
}
.set_card_ul{
    float: left;
    margin-left: 10px;
    width: 300px;
}
.set_card_ul li{
    margin-bottom: 10px;
    width: 100%;
    background: #f5f5f5;
    padding: 5px 10px;
}
.set_card_ul li img{
    float: right;
    margin-top: 3px;
    cursor: pointer;
}
.set_card_ul li:last-child{
    background: #fff;
    margin: 0;
}
.btn_add_card{
    border:none;
    background: #fff;
    color: #5A8BFF;
}
.set_card_ul select{
    display: none;
    border: 1px solid #ccc;
    padding: 1px 5px;
}
.card_fl{
    float: left;
}
.card_fl span{
    display: none;
}
.card_fl span:first-child{
    display: inline-block;
}
.card_clone2,.card_clone3,.card_clone4{
    display: none;
}