* {
    padding: 0;
    margin: 0;
}

.btn-save {
    width: 80px;
    background-color: #5a8bff;

    border: 1px solid #5A8BFF;
    color: #fff;
}

.btn-save:hover {
    background-color: #5a8bff;

    border: 1px solid #5A8BFF;
    color: #fff;
}

.user-add-save {
    padding: 10px;
    background: #fff;
    text-align: center;
    border-top: 1px solid #eee;
}

select.add_user_sel {
    width: auto !important;
    padding: 0 1% !important;
}

select.add_user_sel::-ms-expand {
    display: none;
}
.basic-table td:first-child{
    padding: 13px 10px;
    width: 70px;
}
.basic-table input, .basic-table select {
    padding-left: 12px;
}

.basic-table select {
    width: 95px;
}

a.add-user-a {
    color: #5A8BFF;
}

a.add-user-a:hover {
    color: #5A8BFF;
}

input.add-user-input {
    width: 80px;
    border: 0;
    outline: 0;
    background-color: #fff;
}
.goods-box{
    padding:0;
}
table,input,select{
    font-size: 12px;
}
.basic-table input, .basic-table select{
    width: 185px;
}
.basic-table .add_user_sel{
    width: 80px;
}