#bigimg_data ul {
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

#bigimg_data li {
    position: relative;
    float: left;
    line-height: 24px;
    max-width: 240px;
    height: 78px;
    margin: 0 4px 4px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #d4d4d4;
}

#bigimg_data li:hover {
    border: 1px solid black;
}

#bigimg_data li div.box_img {
    display: table-cell;
    width: 78px;;
    height: 78px;;
    vertical-align: middle;
}

#bigimg_data li div.box_img img {
    max-width: 78px;;
    max-height: 78px;;
}

#bigimg_data li div.box_desc {
    width: 78px;;
    display: none;
}

.img_mask {
    display: none;
}

#bigimg_data li:hover .img_mask {
    display: block;
    position: absolute;
    top: 0;
    height: 24px;;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
    color: white;
    z-index: 2;
    cursor: default;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#bigimg_data .old_pic, #bigimg_data .crop_image {
    padding: 1px 5px 1px 5px;
    color: white;
    cursor: pointer;
}

#bigimg_data .old_pic:hover, #bigimg_data .crop_image:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#bigimg_data .img_dim {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
    color: white;
}

.tab_body {
    display: none;
}

.show {
    display: block;
}

.img_sel {
    width: 15px;
    height: 15px;
    background-image: url("../image/s_img.png");
    background-position: 0 -16px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}