body{
    font-size: 14px;
    min-width: 1349px;
    overflow-x: auto;
    padding: 85px 0 0 150px;
}
#analysis{
    min-width: 1090px;
}
.layui-fluid{
    padding: 0 10px;
}
.layui-col-md12.tendency{
    font-size: 16px;
}
.layui-card-item{
    font-size: 14px;
    color: #999;
}
.customer-trend{
    height: 100px;
    line-height: 50px;
    background: white;
    padding-left: 10px;
}
#analysis .customer-trend .select_visit_trend{
    width: 140px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    margin-right: 10px;
}
#analysis .customer-num{
    height: 126px;
    background: white;
    border: 1px solid #eee;
    margin-left: 10%;
}
#analysis .customer-num .zero-weight{
    font-size: 26px;
    color: black;
}
.layui-green{
    color: #2fae44;
}
.layui-red{
    color: #ff0000;
 }
#analysis .customer-num .ratio-gray span{
    font-size: 14px;
    color: #999;
}
.zenticon-help-circle{
    width: 13px;
    height: 13px;
    vertical-align: bottom;
    /*margin-top: -8px;*/
}
 .float-layer{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9999;
    width: 250px;
    height: 130px;
    line-height: 30px;
    font-size: 14px;
    padding: 15px;
    border: 1px solid #fff;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0 0 20px rgba(150,150,150,0.3);
    border-radius: 5px;
    background: #fff;
    display: none;
}
.float-layer .float-layer-i{
    position: absolute;
    left: 74px;
    top: -12px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}
.float-layer .float-layer-left {
    width: 30%;
    float: left;
    display: inline-block;
    color: #999;
}
.float-layer .float-layer-right {
    width: 70%;
    display: inline-block;
    color: #353535;
}
.layui-table.layui-main-table{
    width: 98%;
    margin: 0;
    margin-left: 12px;
}
#echarts-main-new{
    padding-top: 20px;
}
.select_visit_trend, .layui-input{
    height: 30px;
    width: 140px;
}
.layui-input{
   display: inline-block;
}
.layui-main-table tr>td>span{
    /*display: inline-block;*/
    padding-left: 20px;
}
.item-image:hover{
    cursor: pointer;
}
.border-right{
    border-right: 1px solid #eee;
    padding: 26px 0 29px 40px;
}
.layui-one,.layui-two{
    background: white;
    height: 700px;
    margin-top: 10px;
}
.layui-col-md12.demo-list{
    padding-top: 44px;
}
.layui-five,.layui-six{
    overflow: hidden;
    background: white;
    margin-top: 10px;
}
.layui-three{
    height: 245px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: white;
}
.customer-num .padding-bottom{
    padding-bottom: 30px;
}
.float-layer.common-width-height{
    width: 500px;
    height: 150px;
    top: 49px;
    left: 0px;
}
.float-layer.common-width-height>.float-layer-i{
    left: 108px;
    top: -11px
}
.gray{
    color: #666;
}