body{
    padding-bottom: 40px;
}
input[type='text']:focus, textarea:focus {
    border: 1px solid #5a8bff !important;
    box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -webkit-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -moz-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
}

.btn_save a:hover, .btn_save a:focus    {
    background-color: #447af9;
    border-color: #447af9;
    text-decoration: none;
}
.del{
    color:#5A8BFF ;cursor:pointer;
}
div .checkbox_prev{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: url(/image/admin/square_no.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.checkbox_prev:checked{
    width: 12px;
    height: 12px;
    background: url(/image/admin/square_yes.png) no-repeat;
    background-size: 100%;
}
.btn_save a{
    margin-left: 0%;
}
.count_prompt,.count_prompt2{
    color: #999;
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 13px;
}
.count_prompt2{
    padding: 0;
}
.mem_cont .mc_right{
    background: #fff;
    border: none;
    padding: 0;
}
.grade_div{
    background: #f8f8f8;
    border: 1px solid #e4e4e4;
    padding-left: 10px;
    margin-bottom: 10px;
}
.grade_div_title{
    line-height: 38px;
    border-bottom: 1px solid #eee;
}
.grade_div select{
    height: 30px;
    width: 115px;
    border: 1px solid #ccc;
    padding-left: 12px;
}
.btn_save a:last-child{
    background: #f5f5f5;
    color: #666;
    border: 1px solid #ccc;
    margin-left: 15px;
}
.btn_save a:last-child:hover{
    background: #fff;
    color: #5a8bff;
    border-color: #5a8bff;
}
.activation_cfg {
    margin-left: 20px;
}
.in_li {
    margin-right: 10px;
    width: 90px;
}
.ex_use_notice .notice-content, .act_receive {
    color: #878787;
    padding: 0 0 10px;
    padding-left: 25px;
    margin-left: 12px;
    display: none;
    border-bottom: 1px solid #eee;
}