.order-info {
    background: #fff;
    padding: 15px 25px;
}
.order-info-li {
    padding: 8px 0;
}
.order-info-li .fl {
    width: 280px;
}
.fl {
    float: left;
}
.order-info-li .fl span {
    display: inline-block;
    width: 80px;
    line-height: 30px;
    text-align: right;
    margin-right: 25px;
    color: #333;
    vertical-align: top;
}
.order-info input {
    width: 150px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}
.order-info-li.clearfix .btn-search{
	width: 85px;
    height: 30px;
    border: 1px solid #5a8bff;
    background: #5a8bff !important;
    color: #fff;
}
.return-pin-group-box {
    padding: 8px 10px;
    background: #FFFFFF;
    min-height: 500px !important;
}
.tb-decorate-list {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #EFEDEE;
}
.tb-decorate-list>thead>tr>th {
    background: #eef1f6;
    font-weight: normal;
    height: 38px;
    border: 0;
}
.tb-decorate-list>tbody>tr>td {
    height: 50px;
    text-align: center;
    border: 1px solid #EFEDEE;
}
.tb-decorate-list>tbody>tr>td>a {
    text-decoration: none;
    color: #5a8bff;
}