/*优惠券配置*/
.config-quan-box{
    padding: 8px 12px;
    background: #FFFFFF;
    min-height: 500px !important;
    margin-top: 0px;
    margin-bottom: 30px;
}
.quan-config{
    float: left;
    position: relative;
}
.quan-config label{
    margin: 10px 25px 0px 0px;
}
.quan-config:first-child{
    text-align: right;
    line-height: 50px;
    margin-right: 10px;
}
.quan-full-left{
    width:220px;
    margin: 0px;
    display: inline-block;
}
.quan-full-left>strong{
    color: red;
    margin-right: 10px;
    font-weight: 700;
}
.config-quan-box input[type="text"]{
    width: 165px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    padding-left: 12px;
    border-color: #ccc;
    margin-top: 10px;
}
.config-quan-box input[type="radio"]:checked{
    background: url(/image/admin/check_yes.png) no-repeat;
}
.config-quan-box input[type="radio"]{
    position: relative;
    top: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_no.png) no-repeat;
}
.add_quan_img{
    border: 1px solid #ccc;
    text-align: center;
    width: 100px;
    height: 90px;
    color: #999999;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}
.add_quan_img img{
    margin: 20px 0 7px;
}
.add_bcg_img{
    border: 1px solid #ccc;
    width: 70px;
    height: 70px;
    color: #999999;
    font-size: 12px;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 3;
}
.add_bcg_img img{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -22px;
}
.contain_show_bcg{
    display: none;
    width: 400px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 81px;
    top:60px;
    /*display: block;*/
}
.sj_bcgb{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #3333;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -26px;
    left: 39px;
    z-index: 3;
}
.sj_bcgw{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -26px;
    left: 40px;
    z-index: 3;
}
.show_bcg{
    /*display: block;*/
    position: absolute;
    top: -160px;
    left: 60px;
    z-index: 2;
    width: 360px;
    height: 320px;
    background-color: white;
    -moz-box-shadow:0 4px 4px rgba(204, 204,204, 0.35);
    -webkit-box-shadow:0 4px 4px rgba(204, 204, 204, 0.35);
    box-shadow:0 4px 4px rgba(204, 204, 204, 0.35);
}
.show_bcg>img{
    width: 333px;
    height: 289px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.bck_label{
    width: 105px;
}
.bck_label>input{
    margin-top: 30px;
}
.prompt{
    color: #999;
    margin: 8px 0 10px;
    max-width: 865px;
}
.save_bottom_footer{
    padding: 10px 0;
    background: #f8f8fa;
    border-top: 1px solid #f2f2f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -12px;
}
.save_bottom_footer>div{
    width: 90px;
    text-align: center;
    height: 30px;
    line-height: 20px;
    border: 1px solid #5A8BFF;
    background: #5A8BFF;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
}
.limit_quan{
    font-size: 12px;
    color: #999;
    padding-left: 12px;
}
.card_modules_right_quan{
    font-size: 14px;
}

.bcg_yl{
    margin-top: 35px;
    margin-left: 53px;
}
.bcg_yl>a{
    color:#5A8BFF;
}
.bcg_yl>a:hover{
    color:#5A8BFF;
}

/*优惠券列表*/
.tb-decorate-list>tbody>tr>td>div{
    text-align: left;
    width: 67%;
    margin: 0 auto;
}
.tb-decorate-list>tbody>tr>td>div>a{
    color:#5A8BFF
}

/*领取明细*/
.tb-decorate-list>tbody>tr>td>div{
    text-align: left;
    width: 67%;
    margin: 0 auto;
}
.tb-decorate-list>tbody>tr>td>div>a{
    color:#5A8BFF
}
.add-detail-ul{
    height: 60px;
    background-color: #fff;
    line-height: 50px;
    position: relative;
    bottom: 0;
}
.detail-info-li{
    padding: 8px 0;
    zoom:1;
}
.detail-info-li .li-ff{
    width:280px;
    float: left;
    margin-right: 25px;
}
.detail-info-li .search-button{
    width: 380px;
}
.detail-info-li>div>span{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 25px;
    color: #333;
    vertical-align: top;
    margin-right: 5px;
}
.detail-info-li input{
    width: 150px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}
.detail-info-li select{
    width: 150px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 12px;
}
.button-choose{
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
    width: 85px;
    height: 30px;
    margin-left: 15px;
    text-align: center;
    line-height: 30px;
}