*{
    margin: 0;
    padding: 0;
}
body{
    background: #e6e9f0;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
img{
    vertical-align: middle;
}
div,p,ul,li,span,a,table,td,tr,input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.title{
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
    background: #fff;
}
#form1{
    padding: 10px;
}
.goods-box{
    padding: 20px 25px;
    background: #FFFFFF;
}
.goods-box-top{
    text-align: center;
    height: 44px;
    line-height: 44px;
    display: flex;
    color: #666666;
    font-size: 16px;
    background: #f8f8f8;
    margin-bottom: 15px;
    min-width: 1024px;
}
.box-top-info{
    flex: 1;
    cursor: pointer;
}
.goods-box-edit{
    /*font-size: 14px;*/
}
.box-top-detail{
    background: #f8f8f8 url(../../image/admin/next-white.png) no-repeat;
}
.box-top-active{
    color: #FFFFFF;
    background: #5a8bff url(../../image/admin/next-blue.png) no-repeat 100%;
}

.box-top-detail2 {
    color: #fff;
    background: #5a8bff url(../../image/admin/next-white-blue.png) no-repeat;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box-top-first2 {
    color: #353535;
    background: #f8f8f8 url(../../image/admin/next-gray.png) no-repeat 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.basic-table em{
    color: red;
    margin-right: 5px;
}
.basic-table td:first-child{
    width: 105px;
    padding: 13px 0;
    color: #666;
    position: relative;
    text-align: right !important;
}
.basic-table input,.basic-table select{
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 20px;
    width: 160px;
}
/*.basic-table input{*/
    /*width: 250px;*/
/*}*/
.add-spec{
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    width: 120px;
    height: 30px;
}
.show-spec,.spec-price,.grade_price{
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    min-width: 745px;
}
.basic-table .show-spec td:first-child{
    padding: 10px;
    width: 90px;
}
.basic-table .show-spec input{
    width: 100px;
    margin-right: 15px;
    padding: 0 8px;
}
.show-spec span{
    color: #5a8bff;
}
.show-spec tr:nth-child(odd){
    background: #f8f8f8;
}
.spec-price input[name='prd_sprice']{
    width: 105px;
}
.spec-price input[name='prd_number']{
    width: 80px;
}
.spec-price input[name='prd_sn']{
    width: 145px;
}
.spec-price tr:first-child,.grade_price tr:first-child{
    background: #f8f8f8;
}
.spec-price tr:first-child td,.spec-price tr:last-child td,.grade_price tr:last-child td{
    border: none;
}
.spec-price td,.grade_price td{
    text-align: center;
    border: 1px solid #f6f6f6;
}
.spec-price td:first-child,.grade_price:first-child td{
    width: 140px;
}
.spec-img{
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ccc;
    position: relative;
    background: #f7f7f7;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
}
.img-delete,.label-delete,.card-delete{
    position: absolute;
    right: -10px;
    top: -7px;
    cursor: pointer;
}
.batche-set{
    text-align: left!important;
}
.batche-set a,.goods_deliver a,.gd_label a,.card_select_box a{
    display: inline-block;
    color: #5a8bff;
    margin-left: 8px;
}
ul li{
    list-style: none;
    position: relative;
}
.shelves li input{
    width: 15px;
    height:15px;
    position: relative;
    top: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url(/image/admin/check_no.png) no-repeat;
    border:none;
}
.shelves li input:checked{
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_yes.png) no-repeat;
}

.shelves li label{
    font-weight: normal;
    margin-left: 8px;
    cursor: pointer;
}
.check_box{
    position: absolute;
    font-size: 0;
    top: 22px;
    left: -1px;
}
.choose-time{
    border: 1px solid #ccc;
    color: #999;
    height: 30px;
    margin-left: 45px !important;
    padding: 5px 40px 5px 12px;
    background: #fff url(../../image/admin/icon_time.png) no-repeat 92%;
}
.add_spec_value{
    cursor: pointer;
}
.goods-item-img li{
    float: left;
    margin-right: 15px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    width: 80px;
    height: 81px;
    text-align: center;
    line-height: 80px;
    font-size: 0;
}
.goods-item-img li img{
    max-width: 100%;
    max-height: 100%;
}
.goods-suggest{
    color: #999;
    float: left;
    height: 80px;
    line-height: 80px;
}
.goods-save{
    padding: 10px;
    background: #f8f8fa;
    border-top: 1px solid #f2f2f2;
    text-align: center;
}
.goods-save a{
    display: inline-block;
    height: 30px;
    width: 105px;
    line-height: 30px;
    color: #fff;
    background: #5a8bff;
    border: 1px solid #5a8bff;
    margin: 0 10px;
}
.goods-save .btn-next,.goods-save .btn-prev,.btn-yl{
    color: #333 !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
}
.goods-save .btn-next:hover,.goods-save .btn-prev:hover,.btn-yl:hover{
    color: #5A8BFF !important;
    border: 1px solid #5A8BFF !important;
}
.btn-prev{
    display: none;
}
.goods-edit-detail{
    display: none;
}
.goods-edit-detail{
    width: 1120px;
    padding: 25px 0 35px;
    text-align: center;
    margin: 0 auto;
}
.detail-show{
    width: 325px;
    border: 1px solid #dad8d9;
}
.detail-show-top{
    line-height: 55px;
    background: #dad8d9;
}

.sp_title{
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom:1px solid #ddd ;
}
.sp_title>span{
    float: left;
}
.show-begin,.show_area{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.show_area{
    height: 200px;
    background: #fff;
}
.show_area>h1{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.show-begin>p,.show_area>p{
    font-size: 12px;
    color: #999;
    margin-bottom: 2px;
}
.detail-show-box{
    /*height: 455px;*/
    background: #fff;
    padding: 0px 0px 15px 15px;
    margin-top: 8px;
    width: 378px;
}
.dd_select{
    border: 1px dashed #5a8bff;
}

.show-box-white{
    width: 361px;
    height: auto;
    min-height: 150px;
    background: #fff;
    text-align: left;
    word-break: break-all;
    overflow: visible !important;
}
.show-box-white table{
    max-width: 100%;
    width: auto;
}
.show-box-white img{
    max-width: 100%;
}
/*右边商品信息*/
.detail-edit{
    width: 684px;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    padding: 16px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 30px;
}
.right-message{
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 16px;
    border: 1px solid #dddddd;
}

.message-title{
    display: inline-block;
    height: 40px;
    font-size: 14px;
    color: #333;
    float: left;
    margin-left:16px;
}
.message-content{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
    float: left;
    margin-left: 16px;
}
.message-content label{
    color: #333;
}
.right-message2{
    width: 100%;
    background: #fff;
    margin-bottom: 16px;
    border: 1px solid #dddddd;
}
.message-title-line{
    font-size: 14px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #333;
    border-bottom: 1px solid #ddd;
    width: 97%;
    text-align: left;
    margin-left: 16px;
}
.message-content2{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.goods_tr_choose{
    background: #eee;
}
.goods_title{
    font-size: 14px;
    color: #333;
    display: inline-block;
    float: left;
    margin-left: 16px;
}
.template-show {
    display: inline-block;
    background: #fff;
    width: auto;
    min-width: 40px;
    height: 25px;
    font-size: 14px;
    line-height: 22px;
    float: left;
    margin-top: 8px;
    margin-left: 33px;
    position: relative;
    padding-right: 18px;
    display: none;
}
.img-delete1{
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
}
.choose_template{
    display: inline-block;
    background: #fff;
    width: 80px;
    height: 25px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #ddd;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    cursor: pointer;
}
#choose_page{
    margin-top: 10px;
}
.choose_c{
    width: 97% !important;
    margin-left: 11px !important;
}

.add_goods{
    display: inline-block;
    color: #5A8BFF;
    cursor: pointer;
    font-size: 14px;
    float: left;
    margin-left: 16px;
}
.add_goods:hover,.add_goods:visited{
    color: #5A8BFF;
    cursor: pointer;
}

.ke-container{
    width: auto !important;
    margin-top: 16px;
    margin-left: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ke-statusbar{
   border: none !important;
    background: #fff !important;
}
.detail-edit-box{
    background: #fff;
    height: 475px;
    width: 98%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.spec_span{
    position: relative;
    display: inline-block;
}
.spec_span img{
    right: 8px;
}
.deliver-template-info,.label-info,.label-info1,.label-info2,.card-info,.card-info1,.card-info2{
    padding: 10px;
    margin-top: 10px;
    background: #f5f5f5;
}
.btn_get{
    margin-top: 15px;
    float: left;
    margin-left: 355px;
}
.shelves_li{
    height:35px;
}
.grade_card label{
    display: inline-block;
    min-width: 125px;
    padding-right: 5px;
}
.grade_card label input{
    width: 12px;
    height: 12px;
    border: none;
    padding: 0;
    margin-right: 2px;
    top: 2px;
}
.grade_card_prompt{
    color: #999;
}
.grade_price input{
    width: 60px;
    text-align: center;
    padding: 0;
    margin-right: 5px;
}
.tr_grade{
    display: none;
}

/*商品标签*/
.label_span{
    position: relative;
    background-color: white;
    width: 70px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ccc;
}
.card_span{
    position: relative;
    background-color: white;
    padding: 0 3px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ccc;
}
.dis_price{
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    min-width: 745px;
}
.dis_price tr:first-child{
    background: #f8f8f8;
}
.dis_price tr:first-child td{
    border: none;
}
.dis_price td:first-child{
    width: 140px;
}
.dis_price td{
    text-align: center;
}

.goods_search{
    /*padding: 10px 0;*/
    padding-bottom: 10px;
}
.goods_search select{
    margin-right: 34px;
    border-radius: 3px;
}
.goods_search select,.goods_search input{
    width: 160px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left:12px;
    border-radius: 3px;
}
.goods_search input{
    /*margin: 0 10px;*/
    margin-right: 34px;
    margin-left: 4px;
    border-radius: 3px;
}
.btn_search{
    width: 70px;
    height: 30px;
    border: none;
    background: #5A8BFF;
    color: #fff;
    border-radius: 3px;
}
.each_title_item{
    height:40px;
    background: #f8f8f8;
    line-height: 40px;
    width: 100%;
    padding-left: 10px;
}
.show_more{
    color: #5a8bff;
}
.show_more img{
    width: 10px;
    margin-top: -2px;
    margin-left: 5px;
}
















