* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e9f0;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

img {
    vertical-align: middle;
}

div, p, ul, li, span, a, table, td, tr, input, img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: #5a8bff;
}

ul li {
    list-style: none;
}
.main_container{
    padding: 10px;
}
.goods_import_container{
    padding: 10px;
    background-color: #fff;
    height: 100%;
}
.goods_title{
    padding: 10px;
    background-color: #f5f5f5
}
.goods_title .fl{
    color: #666;
    line-height: 27px;
}
.goods_title .fr span{
    color:#fff;
    display: inline-block;
    padding: 4px 8px;
    background-color: #5a8bff;
    border-radius: 2px;
    cursor: pointer;
}
.goods_title .fr span+span{
    margin-left: 15px;
}

table{
    margin-top: 20px;
    border: 1px solid #eee;
}
thead{
    background-color: #f5f5f5;
}
th,td{
    text-align: center;
    padding: 8px 10px;
}
.goods_import_table td{
    border: 1px solid #eee;
}
.goods_import_popup{
    display: none;
    padding: 16px;
}

.activation_award{
    margin-top: 20px;
}
.activation_award span.fl{
    margin-right: 10px;
    margin-top: 5px;
}
.award_box{
    display: inline-block;
    width: calc(100% - 70px);
    overflow:hidden;
}

input[type="text"]{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: 1px solid #eee;
    margin-right: 5px;
}

.hide {
    display: none!important;
}

.import_popup_title{
    margin-bottom: 14px;
}
.card_box,.file_upload{
    background-color: #f5f5f5;
    border-radius: 6px;
    margin-bottom: 14px;
    padding: 10px 16px 16px;
}

.card_box > div:last-of-type{
    margin-top: 10px;
}
.file_box{
    display: inline-block;
    border: 1px solid #ddd;
    width: 250px;
    height: 30px;
    background-color: #fff;
    vertical-align: middle;
}
.file_box span.fl{
    width: 168px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.file_box span.fr{
    text-align: center;
    line-height: 28px;
    width: 80px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-left: 1px solid #ddd;
}
.file_upload_explain{
    margin-top: 16px;
    color: #666;
}
.file_upload_explain > p+p{
    padding-left:70px;
}
input[type="file"]{
    width: 0;
    opacity: 0;
    height: 0;
}
.no_data .no_data_style{
    margin-top:10px;
}
.goods_import_activate{
    position: absolute;
    top: -168px;
    left: 58px;
    z-index: 2;
    display: none;
}

.order-info input{
    border-radius: 0px;
    width: 150px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}
.order-info-li{
    padding: 8px 0;
}
.order-info-li .fl{
    width: 280px;
}
.order-info-li .fl span{
    display: inline-block;
    width: 80px;
    line-height: 30px;
    text-align: right;
    margin-right: 25px;
    color: #333;
    vertical-align: top;
}
.btn-choose{
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
    width: 85px;
    height: 30px;
    margin-left: 15px;
    cursor:pointer;
    display: inline-block;
    line-height: 30px;
    padding-left: 28px;
}