.all_not{
    text-align: center;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.all_not .not_imgs{
    margin-top: 150px;
    width: 200px;
    margin-left: -35px;
    margin-bottom: 30px;
}
.not_tips{
    font-size: 16px;
    color: #999;
    margin-bottom: 20px;
}
.click_go{
    text-align: center;
}
.click_go a{
    width:80px;
    text-decoration: none;
    color: #5a8bff;
    font-size: 14px;
}
.click_go a:first-of-type{
    margin-right: 80px;
}
.click_go a img{
    position: relative;
    top:3px
}