input[type='text']:focus {
    border: 1px solid #5a8bff !important;
    box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -webkit-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -moz-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
}
.search_list input[type='text']{
    border:1px solid #ccc !important;
}
.promote_list{
    background: #fff;
    padding: 10px 20px;
    min-height: 300px;
}
.search_some{
    padding-top: 10px;
}
.search_list>div{
    margin-bottom: 15px;
    line-height: 30px;
    width: 300px;
}
.search_list .fl select{
    width: 120px;
    height:30px;
    line-height: 30px;
    border:1px solid #ccc;
}
.btn_search{
    width: 70px;
    height: 30px;
    color: #fff;
    background: #5a8bff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-left: 23px;
}
.btn_search:hover{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.btn_search:focus{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.promote_first{
    background: #f5f5f5;
}

.promote_first td{
    text-align: center;
    border:none;
}
.some_edit a{
    color: #5a8bff;
}
.promote_list table tbody td{
    text-align: center;
    border:1px solid #EFEDEE;
    background: #fff;
}
.search_list input[type='text']{
    height:30px;
    line-height: 30px;
    padding-left: 12px;
}
.initiate_list{
    background: none;
    padding:0;
}
.initiate_list .search_some{
    padding:10px 30px;
    background: #fff;
    margin-bottom: 10px;
}
.btn_excel{
    width: 85px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #666;
    margin-left: 15px;
}
.btn_excel:hover{
    background-color: #fff !important;
    border-color: #447af9 !important;
    color: #447af9;
    text-decoration: none;
}
.btn_excel:focus{
    background-color: #fff !important;
    border-color: #447af9 !important;
    color: #447af9;
    text-decoration: none;
}
.detail_table{
    background: #fff;
    padding:8px 23px;
    /*min-height: 300px !important;*/
}
.detail_table table td a{
    color: #5a8bff;
}
.each_line{
    margin-bottom: 15px;
}
.each_line .el_left{
    float: left;
    width: 140px;
    margin-right: 10px;
    text-align: right;
    height:30px;
    line-height: 30px;
}
.each_line .el_left em{
    color: red;
}
.each_line .el_right{
    float: left;
}
.each_line .el_right input[type='text']{
    border:1px solid #ccc !important;
    height:30px;
    line-height:30px;
}
.el_right a{
    color: #5a8bff;
    margin-left: 10px;
}
.el_right label{
    margin-left: 25px;
}
.el_right label:first-of-type{
    margin-left: 0px;
}
.el_right .some_value{
    width: 90px;
}
.el_right .promote_tip{
    color: #999;
    margin-left: 10px;
}
.el_right select{
    width: 90px;
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
}
.own_config{
    margin-left: 18px;
    margin-top: 10px;
}
.own_config>div{
    margin-bottom: 10px;
}
.own_config .oc_left{
    float: left;
    width: 70px;
    text-align: left;
    height:30px;
    line-height:30px;
}
.oc_right{
    float: left;
}
.btn_save{
    display: inline-block;
    width: 90px;
    height: 30px;
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
    line-height: 28px;
    cursor: pointer;
}
.promote_config{
    margin-bottom: 30px;
    background: #fff;
    padding: 8px 23px;
    padding-top: 15px;
}
.choose_goods{
    margin-left: 0px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #5A8BFF;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}
.choose_goods img{
    margin: -3px 5px 0 0;
}
.coupon_add{
    background: #fff;
    border: 1px solid #e4e4e4;
    text-align: center;
    width: 100px;
    height:98px;
    float: left;
    cursor: pointer;
    float: left;
}
.coupon_add img{
    margin-top: 25px;
}
.coupon_add p{
    color: #999;
    font-size: 12px;
    margin: 8px 0 0 0;
}
.share_img_area{
    margin-top: 10px;
}
.add_share_img{
    background: #f7f7f7;
    border: 1px solid #ccc;
    width: 80px;
    height: 81px;
    text-align: center;
    line-height: 80px;
    font-size: 0;
    margin-right: 15px;
    position: relative;
    padding-top: 18px;
    float: left;
}
.add_share_img img{
    max-width: 100%;
    max-height: 100%;
}
.add_share_img .img-delete{
    position: absolute;
    right: -10px;
    top: -7px;
    cursor: pointer;
}
.share_img_area .promote_tip{
    display:block;
    float: left;
    height:80px;
    line-height: 80px;
}
.goods_info_table thead tr td{
    border: none;
    background: #f5f5f5;
}
.goods_info_table  tr td{
    text-align: center;
    border:1px solid #eee;
}
.goods_info_table  tr td input[type='text']{
    width: 80px;
}
.goods_message{
    width: 230px;
    height:60px;

}
.goods_img{
    width: 60px;
    height:60px;
    border:1px solid #ccc;
    float: left;
}
.goods_img img{
    width: 100%;
    height:100%;
}
.goods_info{
    height:60px;
    float: right;
    width: 160px;
    position: relative;
}
.goods_name{
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    position: absolute;
    top:0;
    text-align: left;
}
.goods_spec{
    position: absolute;
    bottom:0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
    color: #666;
}
.coupon_name{
    color: #333;
    margin-bottom: 5px;
}
.coupon_money{
    color: #e4393c;
    margin-bottom: 5px;
}
.coupon_limit{
    color: #999;
}

.coupon_list {
    float: left;
    width: 40%;
    border: 1px solid #fbb;
    -webkit-border-radius: 110px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.coupon_del {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}
.coupon_list_top {
    margin-top: 10px;
    color: #f66;
    font-size: 14px;
}
.coupon_list_top span {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.coupon_list_center {
    height: 30px;
    color: #f66;
    font-size: 12px;
}
.coupon_center_number {
    color: #fbb;
    line-height: 1;
}
.coupon_center_limit{
    line-height: 1;
}
.coupon_list_bottom {
    font-size: 12px;
    background: #f66 url(/image/admin/coupon_border.png) repeat-x top;
    -webkit-background-size: 12px;
    background-size: 12px;
    height: 24px;
    line-height: 30px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card_add{
    display:inline-block;
    vertical-align: top;
    height: 98px;
    margin-bottom: 10px;
}
.coupon_div{
    display:block;
    font-size: 0;
}



























