.coupon-select{
    padding: 10px;
}
.voucher_top{
    height: 30px;
    line-height: 30px;
}
.voucher_top input{
    width: 200px;
    height: 30px;
    padding-left: 9px;
    border: 1px solid #ddd;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.voucher_top span{
    display: inline-block;
    width: 85px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    background: #f5f5f5;
    font-size: 12px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.refresh{
    float: right;
    position: relative;
    top: 7px;
    cursor: pointer;
}
.voucher_content{
    padding: 10px 0 0;
    border-bottom: 1px solid #eee;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.coupon_list{
    float: left;
    width: 108px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.coupon_list_top{
    padding-top: 10px;
    color: #f66;
    font-size: 14px;
    border: 1px solid #fbb;
    border-bottom: none;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.coupon_list_top span{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.coupon_list_center{
    height: 40px;
    color: #f66;
    font-size: 12px;
    border-left: 1px solid #fbb;
    border-right: 1px solid #fbb;
}
.coupon_center_limit{

}
.coupon_center_number{
    color: #fbb;
}
.coupon_list_bottom{
    font-size: 12px;
    /*/background: linear-gradient(to right, #ff839f , #ff6668);*/
    background: #f66 url("/image/admin/coupon_border.png") repeat-x top;
    -webkit-background-size: 12px;
    background-size: 12px;
    height: 24px;
    line-height: 30px;
    color: #fff;
    border-left: 1px solid #fbb;
    border-right: 1px solid #fbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.coupon_add{
    float: left;
    width: 108px;
    height: 100px;
    border: 1px solid #ccc;
    color: #999;
    font-size: 12px;
    text-align: center;
}
.coupon_add img{
    margin-top: 25px;
}
.card_checked{
    position: absolute;
    top: -5px;
    right: -5px;
    display: none;
}
.card_list_active .card_checked {
    display: block;
}
.no_coupon_style{
    text-align: center;
    font-size: 14px;
    color: #999;
}
.no_coupon_style img{
    margin-top: 70px;
}
.no_coupon_style p{
    margin: 10px 20px;
}
.no_coupon_style a{
    color: #5a8bff;
}
.coupon_name{
    font-size:14px;
    line-height:30px;
    border:1px solid #fff;
    margin: 0 -1px -1px -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}