*{
    margin: 0;
    padding: 0;
}
body{
    background: #e6e9f0;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
img{
    vertical-align: middle;
}
div,p,ul,li,span,a,table,td,tr,input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,a:active,a:hover,a:focus{
    text-decoration: none;
    color: #333;
}
ul{
    margin: 0;
}
ul li{
    list-style: none;
}
.title{
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
    background: #fff;
}
.shop-config .ipt_border{
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 12px;
}
.order-container{
    padding: 10px;
}
.shop-config{
    padding: 25px;
    background: #fff;
    min-height: 500px;
}
.shop-config li{
    min-height: 45px;
    font-size: 13px;
}
.shop_name{
    border: none;
    width: auto;
    background: #fff;
}
.shop-config li input.shop_name{
    display: none;
}
.shop-config li .fl:nth-of-type(1){
    width: 110px;
    line-height: 30px;
}
.shop-config li .fl:nth-of-type(2){
    width: auto;
    line-height: 30px;
}
.shop-config li button{
    background: #fff;
    color: #5a8bff;
    margin: 0 0px 0 30px;
    border: none;
}
.shop-config li .logo-img{
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    position: relative;
}
.logo-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 4px;
}
.logo-img span{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.shop-config li .btn-save{
    width: 90px;
    height: 30px;
    background: #5a8bff;
    color: #fff;
    margin: 20px 0 0 0;
}

.shop-config li .shop_bussiness_state input{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height:15px;
    background: url("/image/admin/check_no.png") no-repeat;
    background-size: 100%;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.shop-config li .shop_bussiness_state input:checked{
    background: url("/image/admin/check_yes.png") no-repeat;
}
#bussiness_no{
    margin-left: 10px;
}











