*{
    margin: 0;
    padding: 0;
}
body{
    background: #e6e9f0;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
img{
    vertical-align: middle;
}
div,p,ul,li,span,a,table,td,tr,input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.title{
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
    background: #fff;
}
/*新建分类页面*/
.sort_container{
    padding:10px;
    color: #333;
    min-height: 520px !important;
    padding-bottom: 60px;
}
.sort_navlist{
    margin-top: 10px;
    padding: 0 25px 20px;
    background: #fff;
}
.sort_nav{
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}
.sort_nav li{
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}
.sort_nav li a{
    display: inline-block;
    height: 50px;
    width: 100%;
}
.sort_avtives{
    border-bottom: 2px solid #5a8bff;
}
.add_sort_content{
    background: #fff;
    padding: 10px 0;
}
.detail_lis .item_title{
    float: left;
    width: 120px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 30px;
}
.detail_lis .sort_grade{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 150px;
    border:1px solid #eee;
    padding-left: 12px;
}
.detail_lis .tips_sort{
    float: left;
    color: #999;
    font-size: 12px;
    margin-top: 8px;
}
.detail_lis .hover_shoe{
    float: left;
    color: #5a8bff;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}
.sort_title_img{
    margin-top: 24px;
}
.add_path_list{
    margin-top: 10px;
}
.add_path_list div{
    height: 30px;
    line-height: 30px;
    float: left;
}
.add_path_list input{
    height: 30px;
    line-height: 30px;
    float: left;
    border:1px solid #eee;
    padding-left: 12px;
    width: 220px;
}
.add_path_list a{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 12px;
    text-align: center;
    background-image: none;
    border: 1px solid #eee;
    white-space: nowrap;
    padding:0 15px;
}
.detail_lis .sort_name{
    height: 30px;
    line-height: 30px;
    float: left;
    border:1px solid #eee;
    padding-left: 12px;
    width: 220px;
}
.add_icon_list a{
    color: #5a8bff;
    margin-right: 10px;
    float: left;
}
.sort_icon{
    float: left;
    width: 70px;
    height:70px;
    border:1px solid #e5e5e5;
    position: relative;
    margin-right: 10px;
    background: url(/image/admin/sort_moren.png) no-repeat;
    background-size: 50px 50px;
    background-position: center;
}
.sort_icon span{
    position: absolute;
    width: 100%;
    bottom:0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding:3px 0;
    font-size: 11px;
    text-align: center;

}
.size_limit{
    color: #999;
    height:16px;
    margin-top: 54px;
}
.sort_rank{
    height: 30px;
    line-height: 30px;
    float: left;
    border:1px solid #eee;
    padding-left: 12px;
    width: 220px;
}

.pages_bottom a{
    background-color: #5a8bff;
    border-color: #5a8bff;
    width: 70px;
    height: 30px;
    color: #fff;
    display: inline-block;
    line-height: 30px;
}

.pages_bottom a:hover{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.pages_bottom a:focus{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.pages_bottom{
    border-top: 1px solid #f2f2f2;
    background: #f8f8fa;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 87.5%;
}
.title_mgadsa{
    float: left;
    width: 240px;
    height:90px;
    position: relative;
}
.title_mgadsa .del_this{
    position: absolute;
    right: -6px;
    top: -7px;
    cursor: pointer;
    display: none;
}
/*添加推荐分类*/
.reco_name{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 220px;
    border:1px solid #eee;
    padding-left: 12px;
}
.reco_rank{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 220px;
    border:1px solid #eee;
    padding-left: 12px;
}
.child_content{
    float: left;
    padding:20px 22px;
    background: #f8f8f8;
}
.each_itema{
    padding:15px 10px;
    padding-bottom: 5px;
    background: #fff;
    padding-right: 20px;
    position: relative;
}
.each_itema ul .each_itema_li{
    margin-bottom: 10px;
}
.each_itema ul .each_itema_li .each_itma_title{
    line-height: 30px;
    width: 115px;
    text-align: right;
    height:30px;
    float: left;
}
.each_itema_li .chilie_sort_name{
    height: 30px;
    line-height: 30px;
    float: left;
    border:1px solid #eee;
    padding-left: 12px;
    width: 220px;
}
.each_itema_li  .add_path_list{
    float: left;
    margin:0;
}
.each_itema{
    margin-bottom: 10px;
}

.each_itema .del_this{
    position: absolute;
    right: -6px;
    top: -7px;
    cursor: pointer;
}
.add_child_item{
    background-color: #5a8bff;
    border-color: #5a8bff;
    width: 70px;
    height: 30px;
    color: #fff;
    display:block;
    line-height: 30px;
    text-align: center;
}

.add_child_item:hover{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
    color: #fff;
}
.add_child_item:focus{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
    color: #fff;
}
/*推荐分类列表*/
.reco_list_content .detail_lis .item_title{
    width: 150px;
}
.radio_open{
    height:30px;
    line-height: 30px;
}
.radio_open input[type='radio']{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_no.png) no-repeat;
    background-size: 100%;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.radio_open input[type='radio']:last-of-type{
    margin-left: 50px;
}
.radio_open input[type='radio']:checked{
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_yes.png) no-repeat;
}
.choose_imfdd .title_mgadsa{
    float: left;
    width: 240px;
    height:90px;
    position: relative;
}
.choose_imfdd .title_mgadsa .del_this{
    position: absolute;
    right: -6px;
    top: -7px;
    cursor: pointer;
    display: none;
}
.category_list{
    background: #fff;
    padding: 10px 12px;
    /*min-height: 500px !important*/
}
.category_list>table{
    text-align: center;
    width: 99%;
    margin-left: 9px;
    border: 1px solid #EFEDEE;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}
.category_list>table th{
    height: 40px;
    background: #FAF9F7;
    border: 1px solid #EFEDEE;
    font-weight: 400;
}
.category_list>table th:nth-child(1){
    width: 30%;
}
.category_list>table th:nth-child(2){
    width: 20%;
}
.category_list>table th:nth-child(3){
    width: 30%;
}
.category_list>table th:nth-child(4){
    width: 18%;
}
.category_list>table td{
    border: 1px solid #EFEDEE;
    text-align: center;
}
.category_list>table td:first-of-type{
    padding-left: 130px;
    text-align: left;
}
.category_list>table .disnone td:first-of-type{
    padding-left: 160px;
}
.category_list>table tbody>tr>td>a{
    color: #5A8BFF;
}
.category_list>table tbody .disnone{
    text-align: left;
    /*padding-left: 160px;*/
}
.category_list>table table img{
    width: 12px;
    height: 12px;
    padding-left: 1px;
}
.disnone{
    display: none;
}
.disnotnone{
    display:block;
}

/*选择图标弹框*/
.icon_container{
    padding:20px;
    padding-right: 0;
    padding-bottom: 5px;
}
.icon_container ul li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.icon_container ul li div{
    float: left;
    text-align: center;
}

.icon_container ul li div img{
    width: 50px;
    height:50px;
    border: 1px solid #eee;
    display: block;
}
.icon_container ul li div input[type='radio']{
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_no.png) no-repeat;
    background-size: 100%;
    margin-top: 8px;
}
.icon_container ul li div input[type='radio']:focus{
    border:none;
}
.icon_container ul li div input[type='radio']:checked{
    width: 15px;
    height: 15px;
    background: url(/image/admin/check_yes.png) no-repeat;
}
.icon_container .el_name{
    margin-right: 5px;
    font-size: 14px;
}
.icon_container .el_img1{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_container .el_img2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yulan{
    position: relative;
}
.show_to{
    position: absolute;
    top:25px;
    left:270px;
    display: none;
    z-index: 9999;
}




























