
/*分组列表页面*/
.list_content{
    padding: 10px;
}
.btn_add_group{
    background: #fff;
}
.btn_add_group a{
    margin-left: 12px;
    background-color: #5A8BFF;
    border: 1px solid #5A8BFF;
    color: #ffffff;
    width: 80px;
    padding: 5px 0px;
    text-align: center;
    display: inline-block;
}
.btn_add_group a:focus , .btn_add_group a:hover{
    text-decoration: none;
}
.btn_add_group .btn_add_search{
    width: 150px;
    height: 30px;
    padding-left: 25px;
    border: 1px solid #ccc;
    margin-left: 20px;
    background: url(/image/admin/search.png) no-repeat 5px center;
}
.list_table{
    padding: 8px 12px;
    background: #FFFFFF;
    min-height: 500px !important;
}
#set-group{
    border:1px solid #eeeeee;
    padding-bottom: 10px;
}
#set-group div{
    width: 90%;
    margin: 10px auto;
}
#set-group input{
    width: 90%;
    margin: 0px auto 10px 5%;
    height:30px;
    line-height: 30px;
    border:1px solid #dbdbdb;
}
#del-group{
    text-align: center;
    margin: 10px 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
/*新建门店页面*/
.create_content{
    background: #fff;
    padding:20px 25px;
}
.create_content>div{
    margin-bottom: 15px;
}
.create_content>div label{
    height:30px;
    line-height: 30px;
    width: 100px;
}
.create_content>div label span{
    color: red;
    position: relative;
    top:3px;
}
.create_content p span{
    color: red;
    position: relative;
    top:3px;
}
.create_content>div input[type='text']{
    height:30px;
    line-height: 30px;
    padding-left:20px;
    border:1px solid #eee;
    width: 400px;
}
.create_content .contact_phones .validation_code{
    margin-left: 105px;
    margin-top: 8px;
    width: 200px;
    display: none;
}
.contact_phones a{
    color: #5a8bff;
    margin-left: 10px;
}
.contact_phones a:focus,.contact_phones a:hover{
    text-decoration: none;
}
.publicize_imgs:after{
    content: '';
    display: block;
    clear: both;
}
.publicize_imgs label{
    float: left;
}
.publicize_imgs>div{
    float: left;
}
.publicize_imgs .notice_imgs{
    margin-right: 15px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 0;
    margin-left: 4px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.publicize_imgs .notice_imgs img{
    max-height: 100%;
    max-width: 100%;
}
.notice_word{
    color: #999;
    margin-left: 103px;
}
.business_state:after{
    content: '';
    display: block;
    clear: both;
}
.business_state p{
    float: left;
}
.business_state p:first-of-type{
    height:30px;
    line-height: 30px;
    width: 100px;
}
.business_state p{
    height:30px;
    line-height: 30px;
}
.business_state input[type='radio']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height:15px;
    background: url(/image/admin/check_no.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.business_state input[type='radio']:checked{
    width: 15px;
    height:15px;
    background: url(/image/admin/check_yes.png) no-repeat;
}


.business_time:after{
    content: '';
    display: block;
    clear: both;
}
.business_time p{
    float: left;
}
.business_time p:first-of-type{
    height:30px;
    line-height: 30px;
    width: 100px;
}
.business_time p{
    height:30px;
    line-height: 30px;
}
.business_time input[type='radio']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height:15px;
    background: url(/image/admin/check_no.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.business_time input[type='radio']:checked{
    width: 15px;
    height:15px;
    background: url(/image/admin/check_yes.png) no-repeat;
}
.business_time  .set_times input[type='text']{
    width: 60px;
}

.time_notice{
    margin-left: 313px;
}

.positions select{
    width: 100px;
    height:30px;
    line-height: 30px;
    border:1px solid #eee;
}
.map_to_locate .btn_search_location{
    color: #5a8bff;
    margin-left: 10px;
}
.btn_search_location:focus,.btn_search_location:hover{
    text-decoration: none;
}
.own_group select{
    width: 100px;
    height:30px;
    line-height: 30px;
    border:1px solid #eee;
}
.btn_add_group{
    color: #5a8bff;
    margin-left: 10px;
    padding:10px 0;
}
.btn_add_group:focus,.btn_add_group:hover{
    text-decoration: none;
}
.special_service:after{
    content: '';
    display: block;
    clear: both;
}
.special_service p{
    float: left;
    height:30px;
    line-height: 30px;
}
.special_service p input[type='checkbox']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: url(/image/admin/square_no.png) no-repeat;
    background-size: 100%;
    margin-left: 20px;
    position: relative;
    top:1px;
    margin-right: 4px;
}
.special_service p input[type='checkbox']:checked{
    width: 12px;
    height: 12px;
    background: url(/image/admin/square_yes.png) no-repeat;
    background-size: 100%;
}

.add_service{
    margin-left: 106px;
}
.add_service a{
    color: #5a8bff;
    margin-left: 10px;
}
.store_detail:after{
    content: '';
    display: block;
    clear: both;
}
.store_detail label{
    float: left;
}
.store_detail>div{
    float: left;
}
.btn_save{
    background: #F8F8F8;
    border-top: 1px solid #f2f2f2;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.btn_save a{
    width: 80px;
    background: #5a8bff;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 6px 0;
}

#container{
    width: 600px;
    height: 400px;
    margin-left: 104px;
}
.notice:after{
    content: '';
    display: block;
    clear: both;
}
.notice_imgs{
    position: relative;
}
.notice .del_imgs{
    position: absolute;
    right: -10px;
    top: -7px;
    cursor: pointer;
}

/*门店列表页面*/
.content_top{
    padding:10px 12px;
    background: #fff;
}
.content_top .btn_add_groups{
    margin-bottom: 0;
    float: right;
    background-color: #5A8BFF;
    border: 1px solid #5A8BFF;
    color: #ffffff;
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
}
.content_top .btn_add_groups a{
    color: #fff;
}
.content_top:after{
    content: '';
    display: block;
    clear: both;
}
.content_top>div{
    float: left;
}
.filter_sth label{
    height:30px;
    line-height: 30px;
}
.filter_sth select{
    height:30px;
    line-height: 30px;
    width: 120px;
    padding-left: 12px;
    border:1px solid #eee;
}
.filter_sth a{
    background-color: #5A8BFF;
    border: 1px solid #5A8BFF;
    color: #ffffff;
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}
.business_state .check_radio{
    margin-left: 4px;
}
.business_time .check_radio_time{
    margin-left: 5px;
}
.close-store{
    display: inline-block;
}







