*{
    margin: 0;
    padding: 0;
}
body{
    background: #e6e9f0;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
img{
    vertical-align: middle;
}
input::-webkit-input-placeholder{
    color: #999;
}
div,p,ul,li,span,a,table,td,tr,input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.title{
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
    background: #fff;
}
#form1{

}
.reserve-container{
    padding:10px;
}
.btn_searchinfo{
    width: 90px;
    background: #5a8bff;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
}
.btn_searchinfo:hover{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none
}
.btn_searchinfo:focus{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none
}
.reserve-info{
    background: #fff;
    padding:15px 25px;
}
.reserve-list{
    padding: 0 25px 20px;
    background: #fff;
}
.reserve-info .tech_group{
    height: 30px;
    line-height: 30px;
    border:1px solid #eee;
    width: 120px;
}
.reserve-info .rl_title span{
    float: left;
    margin-right: 30px;
}
.reserve-info .rl_title span label{
    height:30px;
    line-height: 30px;
}
.reserve-info .rl_title span input{
    height:30px;
    line-height: 30px;
    border:1px solid #eee;
    padding-left: 12px;
    width: 130px;
}
.reserve-info .rl_title span a{
    float: right;
    height: auto;
    background-color: #5a8bff;
    color: #fff;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 0px;
}
.reserve-info .rl_title .btn_sear{
    float: right;
    height: auto;
    background-color: #5a8bff;
    color: #fff;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 0px;
}
.reserve-info .rl_title a{
    float: right;
    height: auto;
    background-color: #fff;
    color: #5a8bff;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 2px;
    border:1px solid #5a8bff;
}

.reserve-list-table{
    margin-bottom: 15px;
}
.reserve-list-table table{
    text-align:center;
}
.reserve-list-table thead tr td{
    height: 50px;
    background: #eff1f5;
}
.reserve-list-table table tbody{
    border:1px solid #eee;
    background: #fff;
}
.reserve-list-table table tbody tr td{
    border:1px solid #eee;
    padding:15px 10px;
}
.reserve-list-table table tbody td a{
    color: #5A8BFF;
}

.add_tech_groups input{
    float: left;
}
.add_tech_groups a {
    float: left;
    background-color: #5A8BFF;
    color: #fff;
    margin-left: 5px;
    height:30px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 65px;
    font-size: 13px;
}
.add_tech_groups a:hover{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.add_tech_groups a:focus{
    background-color: #447af9 !important;
    border-color: #447af9 !important;
    text-decoration: none;
}
.tech_group_tab input[type = 'text']{
    height: 30px;
    line-height: 30px;
    border:none;
    text-align: center;
}
.tech_group_tab tbody a{
    color: #5a8bff;
}
.add_tech_groups input[type='text']:focus {
    border: 1px solid #5a8bff !important;
    box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -webkit-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
    -moz-box-shadow: 0 0 5px rgba(90,139,255, 1) !important;
}
.tb_paging td a:hover{
    background: #fff !important;
    color: #5a8bff;
    border:1px solid #5a8bff;
    text-decoration: none;
}
.tb_paging td a:focus{
    background: #5a8bff !important;
    color: #fff;
    border:1px solid #5a8bff;
    text-decoration:none;
}

.reserve-info .rl_title  .change_name{
    margin-right: 30px;
}
.reserve-info .rl_title  .change_name input{
    width: 90px;
    background: #5a8bff;
    color: #ffffff;
    height:30px;
    line-height: 30px;
    text-align: center;
    padding-left: 0;
    border:1px solid #5a8bff;
}

.reserve-info .rl_title  .change_name input:focus{
    border: none !important;
    box-shadow: 0 0 0px rgba(90,139,255, 1) !important;
    -webkit-box-shadow: 0 0 0px rgba(90,139,255, 1) !important;
    -moz-box-shadow: 0 0 0px rgba(90,139,255, 1) !important;
}
.reserve-info .rl_title  .change_name a{
    background: #fff;
    color: #5a8bff;
    border:none;
}
.list_tech{
    padding: 15px 25px 0;
    background: #fff;
}
.list_tech div{
    border-bottom: 1px solid #eee;
}
.techactive{
    border-bottom: 2px solid #5E88FC;
}
.techtab{
    display: inline-block;
    height: 40px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    margin: 0;
}
