a:focus,a:active,a:hover{
    text-decoration: none;
}
.template_list{
    background: #fff;
    padding-bottom: 20px;
}
.custom_title{
    padding: 0 10px;
}
.custom_title li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #eee;
}
.custom_title li a{
    display: inline-block;
    color: #333;
    border-bottom: 2px solid #5A8BFF;
    padding: 0 5px;
}
.btn_add_template a{
    display: block;
    width: 110px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #5A8BFF;
    background: #5A8BFF;
    color: #fff;
    margin: 12px 10px;
    cursor: pointer;
}
.btn_add_template a:hover{
    background-color: #447af9;
    border-color: #447af9;
    text-decoration: none;
}
.template_tab{
    padding: 0 12px;
}
.tb-decorate-list {
    border: 1px solid #EFEDEE;
}
.tb-decorate-list>thead>tr>th {
    height: 40px;
    background: #eff1f5;
    font-weight:400;
}
.tb-decorate-list>tbody>tr>td {
    text-align: center;
    border: 1px solid #EFEDEE;
    padding: 15px 10px;
}
.tb-decorate-a a{
    color: #5A8BFF;
    margin-right: 5px;
}