.wx_auth_success{
    background: #fff;
}
.text-prompt {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-left: 2px solid #5a8bff;
    padding-left: 25px;
    background: #eef1f6;
    font-size: 14px;
}
.auth_info{
    padding: 20px 25px;
    color: #333;
    min-height: 510px;
}
.auth_info ul li{
    line-height: 30px;
    margin-bottom: 10px;
}
.auth_info ul li span:first-child{
    display: inline-block;
    width: 170px;
    text-align: right;
}
.auth-link{
    color: #5A8BFF;
    display: inline-block;
    margin-left: 20px;
}
.auth-link:hover,.auth-link:active,.auth-link:focus{
    color: #5A8BFF;
    text-decoration: none;
}
.auth_info select{
    width: 140px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}
.auth_p{
    color: #999;
    margin-left: 170px;
}
.auth_btn{
    width: 55px;
    height: 30px;
    margin-left: 8px;
    background: #5a8bff;
    color: #fff;
    border: none;
}
#set-auth{
    display: none;
    text-align: center;
    color: #666;
    padding: 10px;
}

/*功能介绍页面*/
.all_passage{
    width: 99%;
    padding: 20px 0;
    padding-left: 8%;
    background: #fff;
    font-size: 14px;
    color: #333;
}
.page_title{
    font-size: 16px;
    font-weight:bold;
    padding-bottom: 5px;
    width: 800px;
}
.page_time{
    width: 800px;
    color: #666;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.content_title{
    margin-bottom: 25px;
    width: 800px;
}
.page_sen{
    width: 800px;
}
.page_sen div{
    text-indent: 2em;
    line-height: 1.8;
}

.each_ares_tit{
    margin-top: 25px;
    width: 800px;
    color: #2e8b57;
    margin-bottom: 5px;
}
.goodsList_tips{
    color: #ff0000;
    width: 800px;
    margin:20px 0 ;
    text-indent:2em;
}





















