
#bigimg_data {
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

#bigimg_data li {
    position: relative;
    float: left;
    line-height: 24px;
    max-width: 240px;
    height: 100px;
    margin: 0 4px 4px 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid transparent;
}

#bigimg_data li:hover {
    border: 1px solid #d4d4d4;
}

#bigimg_data li div.box_img {
    display: table-cell;
    width: 100px;;
    height: 100px;;
    vertical-align: middle;
}

#bigimg_data li div.box_img img {
    max-width: 100px;;
    max-height: 100px;;
}

#bigimg_data li div.box_desc {
    width: 100px;;
    display: none;
}

.img_mask {
    display: none;
}

#bigimg_data li:hover .img_mask {
    display: block;
    position: absolute;
    top: 0;
    height: 24px;;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.2) !important;
    width: 100%;
    color: white;
    z-index: 2;
    cursor: default;
    /* -ms-user-select: none;
    -webkit-user-select: none; */
}

#bigimg_data a {
    padding: 1px 2px 1px 2px;
    color: white;
    cursor: pointer;
}

#bigimg_data a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#bigimg_data .img_dim {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
    color: white;
    display: block;
}

#bigimg_data li:hover .img_dim {
    display: none;
}

.tab_body {
    display: none;
}

.show {
    display: block;
}

.img_sel {
    width: 15px;
    height: 15px;
    background-image: url("/image/system/s_img.png");
    background-position: 0 -16px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#list_data a {
    cursor: pointer;
}

.upload-image-tbl td {
    min-width: 100px;
    padding: 0 5px 0 5px;
}

.filter-image-tbl td {
    min-width: 80px;
    padding: 0 5px 0 5px;
}

.img-cat-tree {
    min-height: 400px;
    height: 100%;
    width: 100%;
    overflow: auto;

}

.img-cat-tree option + option {
    padding-left: 10px;
}

.ztree li span.button.ico_docu {
    background-position: -110px 0px;
}

div#rMenu {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #999;
    text-align: left;
    padding: 2px;
    border-radius: 1px;
}

div#rMenu ul {
    padding: 0;
    margin: 0;
}

div#rMenu ul li {
    margin: 1px 0;
    padding: 2px 15px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}

div#rMenu ul li:hover {
    color: #0000CC;
}

.image-list-tbl {
    width: 100%;
    background: #fff;
}

.image-list-tbl td {
    vertical-align: top;
    padding: 5px;
}

.image-list-tbl td:first-child {
    width: 100px;
    overflow: hidden;
}

.image-list-tbl .img-tree-container {
    width: 180px;
    height: 340px;
    overflow: auto;
    background: #fff;
    border: 1px solid #eee;
}

.image-list-tbl .img-cat-tree {
    width: auto;
    height: auto;
    min-height: unset;

}

.image-list-tbl .box {
    margin: 0;
    padding: 5px;
}

.pagination {
    margin: 0;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #eee !important;
}

.select-img-list {
    width: 100%;
    background: #eee;
    margin-top: 10px;
    padding: 5px 0;
    min-height: 140px;
}

.select-img-list #bigimg_data {
    width: auto;
    background: #fff;
    min-height: 110px;
}

.select-img-list .ui-sortable {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.select-img-list #bigimg_data li {
    float: none;
    display: inline-block;
    width: 102px;
    height: 102px;
}