.nav-tabs{
    border-bottom: 1px solid #ddd;
}
.nav{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs>li{
    float: left;
    margin-bottom: -1px;
}
.nav>li{
    position: relative;
    display: block;
}
.nav-tabs>li.active>a{
    box-shadow: 0 -2px 0 #57889c;
    border-top-width: 0!important;
    margin-top: 1px!important;
    font-weight: 700;
}
.main-panel{
	margin-top: 8px;
    margin-bottom: 8px;
    padding: 15px;
    background-color: #fff;
}
.panel-top span{
	margin-left: 50px;
}
.panel-top span a, .member_list_main td>a{
    text-decoration: none;
    color: #5a8bff;
}
.panel-bottom{
	margin-top: 10px;
}
.member_list_main{
    padding: 10px;
    background: #fff;
}
.member_list_main table{
    border: 1px solid #eaeaec;
    font-size: 13px;
}
.member_list_main thead tr{
    background: #eef1f6;
}
.member_list_main thead td{
    padding: 15px 0;
    color: #333;
    text-align: center;
}
.member_list_main tbody td {
    padding: 15px 0;
    border: 1px solid #eaeaec;
    text-align: center;
    color: #666;
    position: relative;
}
.main-panel button, .panel-bottom button{
	width: 85px;
    height: 30px;
	border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
}


/*分页*/
.member_list_footer {
    background: #fff;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}
.tb_paging {
    float: right;
}
.tb_paging tr td, .tb_paging tr td a {
    color: #333;
    font-size: 14px;
}
.tb_paging td {
    padding: 0;
}
.tb_paging tr td a:first-child {
    margin-left: 15px;
}
.tb_paging tr td a {
    display: inline-block;
    border: 1px solid #dedede;
    padding: 0px 8px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}
#page {
    width: 40px;
}
.link-page, .link-page-mid, #page {
    height: 25px;
    border-radius: 2px;
    border: 1px solid #ccc;
    text-align: center;
}
.tb_paging td a:hover {
    background: #fff !important;
    color: #5a8bff;
    border: 1px solid #5a8bff;
    text-decoration: none;
}
.tb_paging tr td a:first-child {
    margin-left: 15px;
}