* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e9f0;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

img {
    vertical-align: middle;
}

div, p, ul, li, span, a, table, td, tr, input, img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: #333;
}

ul li {
    list-style: none;
}

input:-webkit-input-placeholder {
    color: #ccc;
}

.title {
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
    background: #fff;
}

.order-container {
    padding: 10px;
}

.order-info {
    background: #fff;
    padding: 15px 25px;
}

.order-info input {
    width: 175px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}

.order-info-li {
    padding: 8px 0;
}

.order-info-li .fl {
    width: 340px;
}

.order-info-li .fl span {
    display: inline-block;
    width: 85px;
    line-height: 30px;
    text-align: right;
    margin-right: 25px;
    color: #333;
}

.order-info select {
    width: 155px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 12px;;
}

.order-info .receive_address {
    width: 500px;
}

.order-info .receive_address select {
    width: 110px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 12px;;
}

.order-info select option:first-child {
    color: #ccc;
}

.btn-choose, .btn-excel {
    width: 85px;
    height: 30px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #666;
    margin-left: 15px;
}

.btn-choose {
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
}

.order-list {
    margin-top: 10px;
    padding: 0 25px 20px;
    background: #fff;
}

.order-list-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.order-list-nav li {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}

.order-list-nav .nav-active {
    border-bottom: 2px solid #5a8bff;
}

.order-list-table td {
    text-align: center;
}

.order-list-table thead tr {
    background: #f5f5f5;
}

.order-list-table thead .jiange {
    background: white;
}

.order-list-table tbody {
    margin-bottom: 15px;
    border: 1px solid #eee;
}

.order-tb-head {
    background: #f5f5f5;
}

.order-tb-head td {
    text-align: left;
}

.order-tb-head span {
    display: inline-block;
    color: #666;
}

.order-tb-head span a {
    color: #5a8bff;
    display: inline-block;
    margin-left: 25px;
}

.span1 {
    margin-left: 20px;
}

.span2 {
    margin-left: 50px;
}

.span3 {
    margin-left: 60px;
}

.order-tb-body td {
    padding: 15px 25px;
}

.order-goods-info {
    width: 215px;
}

.order-goods-info .fl {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    font-size: 0;
}

.order-goods-info .fl img {
    max-width: 100%;
    max-height: 100%;
}

.order-goods-info .fr {
    height: 50px;
    width: 150px;
    position: relative;
    margin-left: 12px;
    font-size: 12px;
    text-align: left;
}

.order-goods-info .fr p {
    width: 150px;
    display: -webkit-box;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
}

.order-goods-info .fr div {
    color: #666;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-common {
    display: inline-block;
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 1px;
    height: auto;
    font-size: 13px;
}

.btn-cancel {
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
}

.btn-wait {
    border: none;
    background: #fff;
    color: #666;
}

.btn-deliver {
    border: 1px solid #5a8bff;
    background: #5a8bff;
    color: #fff;
}

.order-status .btn-close {
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #666;
    margin-bottom: 0;
}

.order-status .btn-common,
.order-status .text-link{
    margin: 0 auto 10px auto;
    display: block;
}

.order-tb-body td {
    border: 1px solid #eee;
    color: #666;
}

.return-btn {
    width: 80px !important;
    height: 30px;

    border-radius: 2px;
    padding-left: 12px !important;
}

.cfm-return-btn, .cfm-return-btn:hover,
.cfm-return-btn:focus, .cfm-return-btn:active {
    background-color: #5a8bff;
    border: 1px solid #5a8bff;
    color: #fff;
}

.return-notice {
    width: 500px;
    height: 100px;
    background-color: #FFF7EC;

    border: 1px solid #F2E1C8;

    vertical-align: center;
    position: relative;
}

.return-notice > ul {
    padding-left: 45px;
    margin-top: 40px;
}

.return-notice > ul > li {
    list-style: disc !important;

    height: 26px;
}

.name-img {
    width: 90px;
    height: 90px;

    border: 2px solid #EBE7D7;
    outline: none;

    position: absolute;
    top: 0;
    left: 0;
}

.notice-word {
    position: absolute;
    top: 13px;
    left: 16px;
}

.return-goods-info {
    height: 90px;

    position: relative;
}

.list-name-top, .list-name-center, .list-name-bottom {
    position: absolute;
    left: 100px;
}

.list-name-top {
    position: absolute;
    top: 5px;

    width: 83%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-name-center {
    position: absolute;
    top: 30px;

    color: #666;
}

.list-name-bottom {
    position: absolute;
    top: 70px;
}

.re-return-btn, .re-return-btn:hover, .re-return-btn:focus {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
}

/***********Order_return_list***********/
.order-center {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}

.order-center p {
    margin-left: 20px;
    margin-top: 10px;
}

.order-center > li {
    padding-top: 15px;
    padding-left: 20px;
}

.return-order-th {
    width: 100%;
}

.return-order-th > thead > tr > th {
    height: 40px;
    background: #F5F5F5;
    border: 0;
}

table.return-order-th > tbody > tr > td {
    border: 1px solid #F5F5F5;
    text-align: center;
}

table.return-order-th > tbody > tr.return-tb-container > td.return-status {
    background-color: #F5F5F5;
    border: 0;
}

td.return-status > ul > li {
    text-align: left;
    float: left;
    margin: 0 10px 0 10px;
}

.rtn-order-img {
    width: 80px;
    height: 80px;
    border: 1px solid #E7E8D8;
}

.rtn-btn-status {
    color: #5A8BFF;

    background-color: #E7EEFE;
    border: 1px solid #5A8CFF;
}

.return-goods-box {
    padding: 8px 12px;
    background: #FFFFFF;
    min-height: 500px !important;
}

#set-text {
    display: none;
    padding: 10px 10px 0;
}

#set-text textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
}

.order-tb-head span.seller-remark {
    color: red;
    margin-right: 25px;
    width: 100px;
    vertical-align: bottom;
}

.btn-star-flag {
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 19px;
    background-image: url(/image/admin/comstar_1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-star-flag.empty-flag {
    background-position: -25px 0;
}

.text-amount {
    display: inline-block;
    width: 100px;
    text-align: right;
    height: 23px;
    line-height: 23px;
}

.amount-sum {
    font-size: 18px;
    font-weight: 700;
    color: #e4393c;
}

.rec_time {
    width: 170px;
}

.order-basic-table {
    margin: 10px 0;
}

.text-link{
    color:#5a8bff;
}

#template_shipping_id {
    height: 23px;
}

#template_shipping_no, #template_shipping_id  {
    padding: 0 2%;

}
.wait_re{
    position: relative;
    display: inline-block;
}
.wait_num{
    position: relative;
    top: -7px;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ff9d0e;
    color: #fff;
    line-height: 1;
    font-size: 11px;
    text-align: center;
    padding: 2px 5px;
}