.main-table th {
  background: #eef1f6 !important;
  color: #333;
  font: 13px Helvetica Neue, Helvetica, PingFang SC, \5fae\8f6f\96c5\9ed1,
    Tahoma, Arial, sans-serif;
}
.table > thead > tr > th {
  border: none;
}
.main-table .bottom-table {
  background: #fff;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}
.main-table .bottom-table td {
  padding: 0 10px !important;
}

.main-table .bottom-table td a:first-child {
  margin-left: 15px;
}
.main-table .bottom-table td:last-child a {
  display: inline-block;
  border: 1px solid #dedede;
  padding: 0px 8px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  vertical-align: middle;
}
.main-table .bottom-table td:last-child a:hover {
  background: #fff !important;
  color: #5a8bff;
  border: 1px solid #5a8bff;
  text-decoration: none;
}
.main-table .bottom-table td:last-child a:focus {
  background: #5a8bff !important;
  color: #fff;
  border: 1px solid #5a8bff;
  text-decoration: none;
}
.main-table .bottom-table td:last-child input {
  height: 30px;
  border: 1px solid #dedede;
  text-align: center;
  margin: 0 8px;
  vertical-align: middle !important;
}
label.switch {
  display: inline-block;
  background-color: #ddd;
  height: 20px;
  width: 40px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 0;
  vertical-align: middle;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

label.switch::before {
  content: '';
  position: relative;
  display: block;
  left: 0;
  border-radius: 25px;
  height: 100%;
  width: 20px;
  background-color: white;
  opacity: 1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
input.switch {
  display: none;
}
 /* 选中后，未选中样式消失 */
 input.switch:checked~label:before {
  left: 21px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

/*选中后label的背景色改变*/
input.switch:checked~label {
  background-color: #f7931e;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
input[type="text"]{
  padding-left: 5px;
}