var includes = function (arr, target) {
  if (arr.length === 0) return false
  return arr.indexOf(target) === -1 ? false : true
}
var substring = function (str,start,end) {
  if(!str) return ''
  return str.substring(start,end)
}
var getSex = function (type){
  var sexData = {
    '0':'男',
    '1':'女',
    '2':'未知'
  }
  return sexData[''+type]
}
var getGestation = function (type){
  var getGestationData = {
    '0':'未知',
    '1':'无',
    '2':'备孕中',
    '3':'怀孕中',
    '4':'正在哺乳'
  }
  return getGestationData[''+type]
}
module.exports = {
  includes: includes,
  substring: substring,
  getSex:getSex,
  getGestation:getGestation
}