body{
    background: #fff;
}
.container{
    padding: 20px;
    font-size: 14px;
    color: #333;
}
.container .container_li{
    min-height: 30px;
    margin-bottom: 10px;
}
.fl{
    float: left;
    width: 100px;
    padding-left: 12px;
    line-height: 30px;
}
.fl_r{
    float: left;
    width: 830px;
}
input[type="text"]{
    width: 250px;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
}
.table-bordered{
    border: 1px solid #ddd;
}
input[type='checkbox'] {
    position: relative;
    top: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: url(/image/admin/square_no.png) no-repeat;
}
input[type='checkbox']:checked {
    background: url(/image/admin/square_yes.png) no-repeat;
}
.role_ul li{
    float: left;
    margin-right: 8px;
}
.fl_num{
    float: left;
    margin: 0 30px 10px 0;
}
.fl_num input{
    width: 85px;
}
.fl_num span{
    display: inline-block;
    width: 100px;
}